<div class="row justify-content-md-center padded-page">
    <h2 class="text-center mb-3">
        Brackets
    </h2>
    <br>
    <br>
    <br>

    <div class="spinner-border text-light" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="row" *ngIf="!loading">
        <!--div class="col col-12 col-md-4" *ngFor="let phase of phases">
            <h3>{{phase}}</h3>
            <div class="row marcadorItem" *ngFor="let match of phaseMatches[phase]; let idx=index" >

                <div class="col col-2">#{{idx}}</div>
                <div class="col col-8" > 
                    <div class="row">{{match.homeTeam.name}}</div>
                    <div class="row">{{match.visitorTeam.name}}</div>
                </div>
                <div class="col col-2">
                    <div class="row">{{match.homePoints}}</div>
                    <div class="row">{{match.visitorPoints}}</div>
                </div>
            </div>
        </div-->
        <!--div class="row text-center bracketsBox">
            <div class="col col-4">
                <h3>Cuartos de Final</h3>
            </div>
            <div class="col col-4">
                <h3>Semifinales</h3>
            </div>
            <div class="col col-4">
                <h3>Finales</h3>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col col-8">
                <div class="row  align-items-center">
                    <div class="col col-6">
                        <div class="row marcadorItem">
                            <div class="col col-2">Q1</div>
                            <div class="col col-8" > 
                                <div class="row">{{phaseMatches['quarter1'].homeTeam.name}}</div>
                                <div class="row">{{phaseMatches['quarter1'].visitorTeam.name}}</div>
                            </div>
                            <div class="col col-2">
                                <div class="row">{{phaseMatches['quarter1'].homePoints}}</div>
                                <div class="row">{{phaseMatches['quarter1'].visitorPoints}}</div>
                            </div>
                        </div>
                        <div class="row marcadorItem">
                            <div class="col col-2">Q2</div>
                            <div class="col col-8" > 
                                <div class="row">{{phaseMatches['quarter2'].homeTeam.name}}</div>
                                <div class="row">{{phaseMatches['quarter2'].visitorTeam.name}}</div>
                            </div>
                            <div class="col col-2">
                                <div class="row">{{phaseMatches['quarter2'].homePoints}}</div>
                                <div class="row">{{phaseMatches['quarter2'].visitorPoints}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-6">
                        <div class="row marcadorItem">
                            <div class="col col-2">S1</div>
                            <div class="col col-8" > 
                                <div class="row">{{phaseMatches['semi1'].homeTeam.name}}</div>
                                <div class="row">{{phaseMatches['semi1'].visitorTeam.name}}</div>
                            </div>
                            <div class="col col-2">
                                <div class="row">{{phaseMatches['semi1'].homePoints}}</div>
                                <div class="row">{{phaseMatches['semi1'].visitorPoints}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-6">
                        <div class="row marcadorItem">
                            <div class="col col-2">Q3</div>
                            <div class="col col-8" > 
                                <div class="row">{{phaseMatches['quarter3'].homeTeam.name}}</div>
                                <div class="row">{{phaseMatches['quarter3'].visitorTeam.name}}</div>
                            </div>
                            <div class="col col-2">
                                <div class="row">{{phaseMatches['quarter3'].homePoints}}</div>
                                <div class="row">{{phaseMatches['quarter3'].visitorPoints}}</div>
                            </div>
                        </div>
                        <div class="row marcadorItem">
                            <div class="col col-2">Q4</div>
                            <div class="col col-8" > 
                                <div class="row">{{phaseMatches['quarter4'].homeTeam.name}}</div>
                                <div class="row">{{phaseMatches['quarter4'].visitorTeam.name}}</div>
                            </div>
                            <div class="col col-2">
                                <div class="row">{{phaseMatches['quarter4'].homePoints}}</div>
                                <div class="row">{{phaseMatches['quarter4'].visitorPoints}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-6">
                        <div class="row marcadorItem">
                            <div class="col col-2">S2</div>
                            <div class="col col-8" > 
                                <div class="row">{{phaseMatches['semi2'].homeTeam.name}}</div>
                                <div class="row">{{phaseMatches['semi2'].visitorTeam.name}}</div>
                            </div>
                            <div class="col col-2">
                                <div class="row">{{phaseMatches['semi2'].homePoints}}</div>
                                <div class="row">{{phaseMatches['semi2'].visitorPoints}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
            <div class="col col-4">
                <div class="row marcadorItem">
                    <div class="col col-2">F1</div>
                    <div class="col col-8" > 
                        <div class="row">{{phaseMatches['final1'].homeTeam.name}}</div>
                        <div class="row">{{phaseMatches['final1'].visitorTeam.name}}</div>
                    </div>
                    <div class="col col-2">
                        <div class="row">{{phaseMatches['final1'].homePoints}}</div>
                        <div class="row">{{phaseMatches['final1'].visitorPoints}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-4">
            </div>
            <div class="col col-4">
            </div>
            <div class="col col-4">
                <div class="row marcadorItem">
                    <div class="col col-2">F2</div>
                    <div class="col col-8" > 
                        <div class="row">{{phaseMatches['final2'].homeTeam.name}}</div>
                        <div class="row">{{phaseMatches['final2'].visitorTeam.name}}</div>
                    </div>
                    <div class="col col-2">
                        <div class="row">{{phaseMatches['final2'].homePoints}}</div>
                        <div class="row">{{phaseMatches['final2'].visitorPoints}}</div>
                    </div>
                </div>
            </div>
        </div-->
        
        <div class="container text-center">
            <h2>Categoria Aprendiz</h2>
            <div class="tournament-bracket tournament-bracket--rounded">                                                     
                <div class="tournament-bracket__round tournament-bracket__round--quarterfinals">
                <h3 class="tournament-bracket__round-title">Cuartos de Final</h3>
                <ul class="tournament-bracket__list">
                    
                    <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                        <caption class="tournament-bracket__caption">
                            {{phaseMatches['quarter1'].time}}
                        </caption>
                        <thead class="sr-only">
                            <tr>
                            <th>Equipo</th>
                            <th>Puntos</th>
                            </tr>
                        </thead>  
                        <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team">
                            <td class="tournament-bracket__country">
                                <abbr class="tournament-bracket__code" title="Canada">{{phaseMatches['quarter1'].homeTeam.name}}</abbr>
                            </td>
                            <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">{{phaseMatches['quarter1'].homePoints}}</span>
                            </td>
                            </tr>
                            <tr class="tournament-bracket__team">
                            <td class="tournament-bracket__country">
                                <abbr class="tournament-bracket__code" title="Kazakhstan">{{phaseMatches['quarter1'].visitorTeam.name}}</abbr>
                            </td>
                            <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">{{phaseMatches['quarter1'].visitorPoints}}</span>
                            </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    </li>
        
                    <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                        <caption class="tournament-bracket__caption">
                            {{phaseMatches['quarter2'].time}}
                        </caption>
                        <thead class="sr-only">
                            <tr>
                            <th>Equipo</th>
                            <th>Puntos</th>
                            </tr>
                        </thead>  
                        <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team">
                            <td class="tournament-bracket__country">
                                <abbr class="tournament-bracket__code" title="Canada">{{phaseMatches['quarter2'].homeTeam.name}}</abbr>
                            </td>
                            <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">{{phaseMatches['quarter2'].homePoints}}</span>
                            </td>
                            </tr>
                            <tr class="tournament-bracket__team">
                            <td class="tournament-bracket__country">
                                <abbr class="tournament-bracket__code" title="Kazakhstan">{{phaseMatches['quarter2'].visitorTeam.name}}</abbr>
                            </td>
                            <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">{{phaseMatches['quarter2'].visitorPoints}}</span>
                            </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    </li>
        
                    <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                        <caption class="tournament-bracket__caption">
                            {{phaseMatches['quarter3'].time}}
                        </caption>
                        <thead class="sr-only">
                            <tr>
                            <th>Equipo</th>
                            <th>Puntos</th>
                            </tr>
                        </thead>  
                        <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team">
                            <td class="tournament-bracket__country">
                                <abbr class="tournament-bracket__code" title="Canada">{{phaseMatches['quarter3'].homeTeam.name}}</abbr>
                            </td>
                            <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">{{phaseMatches['quarter3'].homePoints}}</span>
                            </td>
                            </tr>
                            <tr class="tournament-bracket__team">
                            <td class="tournament-bracket__country">
                                <abbr class="tournament-bracket__code" title="Kazakhstan">{{phaseMatches['quarter3'].visitorTeam.name}}</abbr>
                            </td>
                            <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">{{phaseMatches['quarter3'].visitorPoints}}</span>
                            </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    </li>
        
                    <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                        <caption class="tournament-bracket__caption">
                            {{phaseMatches['quarter4'].time}}
                        </caption>
                        <thead class="sr-only">
                            <tr>
                            <th>Equipo</th>
                            <th>Puntos</th>
                            </tr>
                        </thead>  
                        <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team">
                            <td class="tournament-bracket__country">
                                <abbr class="tournament-bracket__code" title="Canada">{{phaseMatches['quarter4'].homeTeam.name}}</abbr>
                            </td>
                            <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">{{phaseMatches['quarter4'].homePoints}}</span>
                            </td>
                            </tr>
                            <tr class="tournament-bracket__team">
                            <td class="tournament-bracket__country">
                                <abbr class="tournament-bracket__code" title="Kazakhstan">{{phaseMatches['quarter4'].visitorTeam.name}}</abbr>
                            </td>
                            <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">{{phaseMatches['quarter4'].visitorPoints}}</span>
                            </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    </li>
                </ul>
                </div>
                <div class="tournament-bracket__round tournament-bracket__round--semifinals">
                <h3 class="tournament-bracket__round-title">Semifinales</h3>
                <ul class="tournament-bracket__list">
        
                    <li class="tournament-bracket__item">
                        <div class="tournament-bracket__match" tabindex="0">
                            <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                                {{phaseMatches['semi1'].time}}
                            </caption>
                            <thead class="sr-only">
                                <tr>
                                <th>Equipo</th>
                                <th>Puntos</th>
                                </tr>
                            </thead>  
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" title="Canada">{{phaseMatches['semi1'].homeTeam.name}}</abbr>
                                </td>
                                <td class="tournament-bracket__score">
                                    <span class="tournament-bracket__number">{{phaseMatches['semi1'].homePoints}}</span>
                                </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" title="Kazakhstan">{{phaseMatches['semi1'].visitorTeam.name}}</abbr>
                                </td>
                                <td class="tournament-bracket__score">
                                    <span class="tournament-bracket__number">{{phaseMatches['semi1'].visitorPoints}}</span>
                                </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        </li>
        
                        <li class="tournament-bracket__item">
                        <div class="tournament-bracket__match" tabindex="0">
                            <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                                {{phaseMatches['semi2'].time}}
                            </caption>
                            <thead class="sr-only">
                                <tr>
                                <th>Equipo</th>
                                <th>Puntos</th>
                                </tr>
                            </thead>  
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" title="Canada">{{phaseMatches['semi2'].homeTeam.name}}</abbr>
                                </td>
                                <td class="tournament-bracket__score">
                                    <span class="tournament-bracket__number">{{phaseMatches['semi2'].homePoints}}</span>
                                </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" title="Kazakhstan">{{phaseMatches['semi2'].visitorTeam.name}}</abbr>
                                </td>
                                <td class="tournament-bracket__score">
                                    <span class="tournament-bracket__number">{{phaseMatches['semi2'].visitorPoints}}</span>
                                </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        </li>
                </ul>
                </div>
                <div class="tournament-bracket__round tournament-bracket__round--bronze">
                <h3 class="tournament-bracket__round-title">Tercer</h3>
                <ul class="tournament-bracket__list">
                    <li class="tournament-bracket__item">
                        <div class="tournament-bracket__match" tabindex="0">
                            <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                                {{phaseMatches['final2'].time}}
                            </caption>
                            <thead class="sr-only">
                                <tr>
                                <th>Equipo</th>
                                <th>Puntos</th>
                                </tr>
                            </thead>  
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" title="Canada">{{phaseMatches['final2'].homeTeam.name}}</abbr>
                                </td>
                                <td class="tournament-bracket__score">
                                    <span class="tournament-bracket__number">{{phaseMatches['final2'].homePoints}}</span>
                                </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" title="Kazakhstan">{{phaseMatches['final2'].visitorTeam.name}}</abbr>
                                </td>
                                <td class="tournament-bracket__score">
                                    <span class="tournament-bracket__number">{{phaseMatches['final2'].visitorPoints}}</span>
                                </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        </li>
                </ul>
                </div>
                <div class="tournament-bracket__round tournament-bracket__round--gold">
                <h3 class="tournament-bracket__round-title">Finales</h3>
                <ul class="tournament-bracket__list">
                    <li class="tournament-bracket__item">
                        <div class="tournament-bracket__match" tabindex="0">
                            <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                                {{phaseMatches['final1'].time}}
                            </caption>
                            <thead class="sr-only">
                                <tr>
                                <th>Equipo</th>
                                <th>Puntos</th>
                                </tr>
                            </thead>  
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" title="Canada">{{phaseMatches['final1'].homeTeam.name}}</abbr>
                                </td>
                                <td class="tournament-bracket__score">
                                    <span class="tournament-bracket__number">{{phaseMatches['final1'].homePoints}}</span>
                                </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" title="Kazakhstan">{{phaseMatches['final1'].visitorTeam.name}}</abbr>
                                </td>
                                <td class="tournament-bracket__score">
                                    <span class="tournament-bracket__number">{{phaseMatches['final1'].visitorPoints}}</span>
                                </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        </li>
                </ul>
                </div>
            </div>
        </div>
            

        <div class="container text-center">
            <h2>Categoria Elite</h2>
            <div class="tournament-bracket tournament-bracket--rounded">                                                     
                <div class="tournament-bracket__round tournament-bracket__round--quarterfinals">
                <h3 class="tournament-bracket__round-title">Cuartos de Final</h3>
                <ul class="tournament-bracket__list">
                    
                    <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                        <caption class="tournament-bracket__caption">
                            {{phaseMatchesElite['quarter1'].time}}
                        </caption>
                        <thead class="sr-only">
                            <tr>
                            <th>Equipo</th>
                            <th>Puntos</th>
                            </tr>
                        </thead>  
                        <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team">
                            <td class="tournament-bracket__country">
                                <abbr class="tournament-bracket__code" title="Canada">{{phaseMatchesElite['quarter1'].homeTeam.name}}</abbr>
                            </td>
                            <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">{{phaseMatchesElite['quarter1'].homePoints}}</span>
                            </td>
                            </tr>
                            <tr class="tournament-bracket__team">
                            <td class="tournament-bracket__country">
                                <abbr class="tournament-bracket__code" title="Kazakhstan">{{phaseMatchesElite['quarter1'].visitorTeam.name}}</abbr>
                            </td>
                            <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">{{phaseMatchesElite['quarter1'].visitorPoints}}</span>
                            </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    </li>
        
                    <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                        <caption class="tournament-bracket__caption">
                            {{phaseMatchesElite['quarter2'].time}}
                        </caption>
                        <thead class="sr-only">
                            <tr>
                            <th>Equipo</th>
                            <th>Puntos</th>
                            </tr>
                        </thead>  
                        <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team">
                            <td class="tournament-bracket__country">
                                <abbr class="tournament-bracket__code" title="Canada">{{phaseMatchesElite['quarter2'].homeTeam.name}}</abbr>
                            </td>
                            <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">{{phaseMatchesElite['quarter2'].homePoints}}</span>
                            </td>
                            </tr>
                            <tr class="tournament-bracket__team">
                            <td class="tournament-bracket__country">
                                <abbr class="tournament-bracket__code" title="Kazakhstan">{{phaseMatchesElite['quarter2'].visitorTeam.name}}</abbr>
                            </td>
                            <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">{{phaseMatchesElite['quarter2'].visitorPoints}}</span>
                            </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    </li>
        
                    <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                        <caption class="tournament-bracket__caption">
                            {{phaseMatchesElite['quarter3'].time}}
                        </caption>
                        <thead class="sr-only">
                            <tr>
                            <th>Equipo</th>
                            <th>Puntos</th>
                            </tr>
                        </thead>  
                        <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team">
                            <td class="tournament-bracket__country">
                                <abbr class="tournament-bracket__code" title="Canada">{{phaseMatchesElite['quarter3'].homeTeam.name}}</abbr>
                            </td>
                            <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">{{phaseMatchesElite['quarter3'].homePoints}}</span>
                            </td>
                            </tr>
                            <tr class="tournament-bracket__team">
                            <td class="tournament-bracket__country">
                                <abbr class="tournament-bracket__code" title="Kazakhstan">{{phaseMatchesElite['quarter3'].visitorTeam.name}}</abbr>
                            </td>
                            <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">{{phaseMatchesElite['quarter3'].visitorPoints}}</span>
                            </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    </li>
        
                    <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                        <caption class="tournament-bracket__caption">
                            {{phaseMatchesElite['quarter4'].time}}
                        </caption>
                        <thead class="sr-only">
                            <tr>
                            <th>Equipo</th>
                            <th>Puntos</th>
                            </tr>
                        </thead>  
                        <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team">
                            <td class="tournament-bracket__country">
                                <abbr class="tournament-bracket__code" title="Canada">{{phaseMatchesElite['quarter4'].homeTeam.name}}</abbr>
                            </td>
                            <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">{{phaseMatchesElite['quarter4'].homePoints}}</span>
                            </td>
                            </tr>
                            <tr class="tournament-bracket__team">
                            <td class="tournament-bracket__country">
                                <abbr class="tournament-bracket__code" title="Kazakhstan">{{phaseMatchesElite['quarter4'].visitorTeam.name}}</abbr>
                            </td>
                            <td class="tournament-bracket__score">
                                <span class="tournament-bracket__number">{{phaseMatchesElite['quarter4'].visitorPoints}}</span>
                            </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    </li>
                </ul>
                </div>
                <div class="tournament-bracket__round tournament-bracket__round--semifinals">
                <h3 class="tournament-bracket__round-title">Semifinales</h3>
                <ul class="tournament-bracket__list">
        
                    <li class="tournament-bracket__item">
                        <div class="tournament-bracket__match" tabindex="0">
                            <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                                {{phaseMatchesElite['semi1'].time}}
                            </caption>
                            <thead class="sr-only">
                                <tr>
                                <th>Equipo</th>
                                <th>Puntos</th>
                                </tr>
                            </thead>  
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" title="Canada">{{phaseMatchesElite['semi1'].homeTeam.name}}</abbr>
                                </td>
                                <td class="tournament-bracket__score">
                                    <span class="tournament-bracket__number">{{phaseMatchesElite['semi1'].homePoints}}</span>
                                </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" title="Kazakhstan">{{phaseMatchesElite['semi1'].visitorTeam.name}}</abbr>
                                </td>
                                <td class="tournament-bracket__score">
                                    <span class="tournament-bracket__number">{{phaseMatchesElite['semi1'].visitorPoints}}</span>
                                </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        </li>
        
                        <li class="tournament-bracket__item">
                        <div class="tournament-bracket__match" tabindex="0">
                            <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                                {{phaseMatchesElite['semi2'].time}}
                            </caption>
                            <thead class="sr-only">
                                <tr>
                                <th>Equipo</th>
                                <th>Puntos</th>
                                </tr>
                            </thead>  
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" title="Canada">{{phaseMatchesElite['semi2'].homeTeam.name}}</abbr>
                                </td>
                                <td class="tournament-bracket__score">
                                    <span class="tournament-bracket__number">{{phaseMatchesElite['semi2'].homePoints}}</span>
                                </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" title="Kazakhstan">{{phaseMatchesElite['semi2'].visitorTeam.name}}</abbr>
                                </td>
                                <td class="tournament-bracket__score">
                                    <span class="tournament-bracket__number">{{phaseMatchesElite['semi2'].visitorPoints}}</span>
                                </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        </li>
                </ul>
                </div>
                <div class="tournament-bracket__round tournament-bracket__round--bronze">
                <h3 class="tournament-bracket__round-title">Tercer</h3>
                <ul class="tournament-bracket__list">
                    <li class="tournament-bracket__item">
                        <div class="tournament-bracket__match" tabindex="0">
                            <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                                {{phaseMatchesElite['final2'].time}}
                            </caption>
                            <thead class="sr-only">
                                <tr>
                                <th>Equipo</th>
                                <th>Puntos</th>
                                </tr>
                            </thead>  
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" title="Canada">{{phaseMatchesElite['final2'].homeTeam.name}}</abbr>
                                </td>
                                <td class="tournament-bracket__score">
                                    <span class="tournament-bracket__number">{{phaseMatchesElite['final2'].homePoints}}</span>
                                </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" title="Kazakhstan">{{phaseMatchesElite['final2'].visitorTeam.name}}</abbr>
                                </td>
                                <td class="tournament-bracket__score">
                                    <span class="tournament-bracket__number">{{phaseMatchesElite['final2'].visitorPoints}}</span>
                                </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        </li>
                </ul>
                </div>
                <div class="tournament-bracket__round tournament-bracket__round--gold">
                <h3 class="tournament-bracket__round-title">Finales</h3>
                <ul class="tournament-bracket__list">
                    <li class="tournament-bracket__item">
                        <div class="tournament-bracket__match" tabindex="0">
                            <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                                {{phaseMatchesElite['final1'].time}}
                            </caption>
                            <thead class="sr-only">
                                <tr>
                                <th>Equipo</th>
                                <th>Puntos</th>
                                </tr>
                            </thead>  
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" title="Canada">{{phaseMatchesElite['final1'].homeTeam.name}}</abbr>
                                </td>
                                <td class="tournament-bracket__score">
                                    <span class="tournament-bracket__number">{{phaseMatchesElite['final1'].homePoints}}</span>
                                </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                <td class="tournament-bracket__country">
                                    <abbr class="tournament-bracket__code" title="Kazakhstan">{{phaseMatchesElite['final1'].visitorTeam.name}}</abbr>
                                </td>
                                <td class="tournament-bracket__score">
                                    <span class="tournament-bracket__number">{{phaseMatchesElite['final1'].visitorPoints}}</span>
                                </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>