<div class="mainpanel">
    <!-- New gym form: fields grouped in a filter-bar block, two per row,
         with the yellow floppy-disk save button used elsewhere in the app. -->
    <form class="filter-bar mb-3" [formGroup]="gymForm" (ngSubmit)="onSubmit()">
        <div class="row g-2 justify-content-center">
            <div class="col-12 col-md-6">
                <label for="id" class="form-label text-light small mb-1">ID</label>
                <input type="text" class="form-control" id="id" name="id" formControlName="id">
            </div>
            <div class="col-12 col-md-6">
                <label for="name" class="form-label text-light small mb-1">Nombre</label>
                <input type="text" class="form-control" id="name" name="name" formControlName="name">
            </div>
        </div>
        <div class="row g-2 mt-1 justify-content-center">
            <div class="col-12 col-md-6">
                <label for="address" class="form-label text-light small mb-1">Dirección</label>
                <input type="text" class="form-control" id="address" name="address" formControlName="address">
            </div>
            <div class="col-12 col-md-6">
                <label for="place_id" class="form-label text-light small mb-1">Place ID</label>
                <input type="text" class="form-control" id="place_id" name="place_id" formControlName="place_id">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-warning btn-floating" title="Guardar" [disabled]="!gymForm.valid">
                    <i class="fas fa-floppy-disk"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="scroll-container">
        <table *ngIf="!isLoading" class="modern-table" style="min-width: 100%;">
            <tr>
                <th> <a [routerLink]="">ID</a></th>
                <th> <a [routerLink]="">Nombre</a></th>
                <th> <a [routerLink]="">Dirección</a></th>
            </tr>
            <tr *ngFor="let gym of gyms">
                <td>{{gym.id}}</td>
                <td>{{gym.name}}</td>
                <td><a href="https://www.google.com/maps/search/?api=1&query_place_id={{gym.place_id}}&query={{gym.address}}">{{gym.address}}</a></td>
            </tr>
        </table>
    </div>
</div>



    
<div
class="modal"
tabindex="-1"
role="dialog"
[ngStyle]="{'display':displayStyle}">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <p>{{popUpMsg}}</p>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" 
              (click)="closePopup()">
        Cerrar
      </button>
    </div>
  </div>
</div>
</div>