<div class="container page-content">
    <div class="d-flex justify-content-center align-items-center" >
        <div class="text-justify">
            
            
        <h5 class="text-center mb-3">
            Redes Sociales de la Décima Edición
        </h5><br><br>
        <p>
            Antes, durante y después de la décima edición del torneo se pretende tener contenido en redes muy centrado en el jugador, es decir, close ups y campañas dirigidas específicamente al segmento que representa el público de gladiadores, la mayoría del cual consiste en hombres y mujeres desde los 12 hasta los 18 años, siendo sus madres, padres y coaches el público secundario del torneo.
        </p>
        <p>
            En ediciones anteriores el mayor reto ha sido el poder crear contenido en formato de video para redes sociales. Este año la intención es llenar las redes de video en formato reel y stories, consistiendo en tomas de los jugadores que se sientan cálidas, cercanas, poderosas y que den la sensación de ser parte de algo grande.
        </p>
        <p>
            El torneo tiene un posicionamiento sólido en redes sociales con un total de <b>5292</b> seguidores en las plataformas Facebook e Instagram, divididos de la siguiente manera:
        </p>
        <ul>
            <li>Facebook: 4,352</li>
            <li>Instagram: 1,244</li>
        </ul>
        <br><br>
        </div>
    </div>
</div>
