<!--div class="bg-image lower-corner-img" style="background-image: url('assets/no-background-logo-transparent.png');">
    <img src="assets/g11_inicio.jpeg" class="d-block w-100" alt="...">
                    <div class="row" style="padding-top: 5%;">
                        <div class="col col-12 col-sm-6">
                            <div class="row text-center">
                                <div class="col-12">
                                Aprendiz 07-08
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-5 groupbox"> 
                                    <h6 class="text-center"> 
                                        Grupo 1:
                                    </h6>    
                                        <div>Pelicanos</div>
                                        <div>Border Bandits</div>
                                        <div>Lenadores</div>
                                        <div>Wildcats</div>
                                </div>
                                <div class="col col-5 groupbox">
                                    <h6 class="text-center"> 
                                        Grupo 2:
                                    </h6>    
                                        <div>ALBA</div>
                                        <div>Abejas</div>
                                        <div>Raptors</div>
                                        <div>Falcons</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-5 groupbox">
                                    <h6 class="text-center"> 
                                        Grupo 3:
                                    </h6>    
                                        <div>Lobos Negros</div>
                                        <div>Dragones</div>
                                        <div>Bulldogs</div>
                                        <div>Gansos</div>
                                </div>
                                <div class="col col-5 groupbox">
                                    <h6 class="text-center"> 
                                        Grupo 4:
                                    </h6>    
                                        <div>Tigres</div>
                                        <div>Venados</div>
                                        <div>ESBAL</div>
                                        <div>Roqui</div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col col-12 col-sm-6">
                            <div class="row text-center">
                                <div class="col-12">
                                    Élite 05-06
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-5 groupbox">
                                    <h6 class="text-center"> 
                                        Grupo 1:
                                    </h6>    
                                        <div>Linces</div>
                                        <div>Carrilleros</div>
                                        <div>Balleneros</div>
                                        <div>ABBA</div>
                                </div>
                                <div class="col col-5 groupbox">
                                    <h6 class="text-center"> 
                                        Grupo 2:
                                    </h6>    
                                        <div>ALBA</div>
                                        <div>Roqui</div>
                                        <div>Lobos Negros</div>
                                        <div>Frayles</div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col col-5 groupbox">
                                    <h6 class="text-center"> 
                                        Grupo 3:
                                    </h6>    
                                        <div>Raptors</div>
                                        <div>Venados</div>
                                        <div>Pelicanos</div>
                                        <div>Gansos</div>
                                </div>
                                <div class="col col-5 groupbox">
                                    <h6 class="text-center"> 
                                        Grupo 4:
                                    </h6>    
                                        <div>Hoops Academy</div>
                                        <div>Coyotes</div>
                                        <div>ESBAL</div>
                                        <div>SAHQ</div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <br>
                    <br><br>
                </div-->
    
     
    
    

<div class="row">

    <div class="row foto-slider">
        <!--div class="col col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <img src="assets/grupos_aprendiz.jpeg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <img src="assets/grupos_elite.jpeg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
        <div class="col col-12">
            <div class="card">
                <div class="card-body">
                    <img src="assets/g11_dates.jpeg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div-->
        <div class="col col-12">
            <div class="card">
                <div class="card-body">
                <img src="assets/g11_flyer.jpeg" class="d-block w-100" alt="...">
            </div>
            </div>
        </div>
    </div>
    
</div>

