

<div class="row">
    <div class="row foto-slider">
        <div class="col col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <img src="assets/grupos_aprendiz.jpeg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <img src="assets/grupos_elite.jpeg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <img src="assets/g11_dates.jpeg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                <img src="assets/g11_flyer.jpeg" class="d-block w-100" alt="...">
            </div>
            </div>
        </div>
    </div>
    
</div>

