
<div class="container page-content text-center" *ngIf="showResults">
    <h2 class="text-center mb-3">
        Live Results
    </h2><br>
    <div class="row justify-content-xs-center align-items-center" style="margin:2%; padding: 2%; background-color:#000 ;" *ngFor="let match of matches | slice:1">
        <div class="row align-items-center">
            
            <div class="col col-xs-3">
                <h3>{{match.team_a}}</h3><br>
                <h2>{{match.team_a_points}} </h2>
            </div>
            <div class="col col-xs-1 " style="max-width: 10%;">
                <h3>X</h3>  
            </div>
            <div class="col col-xs-3">
                <h3>{{match.team_b}}</h3><br>
                <h2>{{match.team_b_points}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-5">
                {{match.location}} - {{match.time}}
            </div>
        </div>
        
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <img src="assets/fb1.jpeg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
            <img src="assets/fb2.jpeg" class="d-block w-100" alt="...">
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
            <img src="assets/fb3.jpeg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
</div>

