<form [formGroup]="matchForm" (ngSubmit)="onSubmit()" >
    <div class="row mainpanel">
        <div class="col col-md-3 col-12">
            <div class="row">
                <label for="category">Category:</label>
            </div>
            <div class="row">
                <div class="filterPadding">
                    <select class="col-12" id="category" formControlName="categoria" (change)="filterTeams()" required>
                        <option value="aprendiz">Aprendiz</option>
                        <option value="elite">Elite</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col col-md-3 col-12">
            <div class="row">
                <label for="gyms">Gimnasio</label>
            </div>
            <div class="row">
                <div class="filterPadding">
                    <select class="col-12" id="gyms" formControlName="gym" require>
                        <option value={{null}}></option>
                        <option *ngFor="let gym of gyms" value="{{gym.id}}">{{gym.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col col-md-3 col-12">
            <div class="row">
                <label for="day">Day:</label>
            </div>
            <select class="col-12" id="day" formControlName="day" require>
                <option *ngFor="let day of days" value="{{day}}">{{day}}</option>
            </select>
        </div>
        <div class="col col-md-3 col-12">
            <div class="row">
                <label for="time">Time:</label>
            </div>
            <div class="row">
                <div class="filterPadding">
                    <input type="text" id="time" name="time" formControlName="time">
                </div>
            </div>
        </div>
        <div class="col col-md-3 col-12">
            <div class="row">
                <label for="hometeam">Equipo 1</label>
            </div>
            <div class="row">
                <div class="filterPadding">
                    <select class="col-12" id="hometeam" formControlName="hometeam"  require>
                        <option value={{null}}></option>
                        <option *ngFor="let equipo of filteredTeams" value="{{equipo.id}}">{{equipo.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col col-md-3 col-12">
            <div class="row">
                <label for="visitorteam">Equipo 2</label>
            </div>
            <div class="row">
                <div class="filterPadding">
                    <select class="col-12" id="visitorteam" formControlName="visitorteam"  require>
                        <option value={{null}}></option>
                        <option *ngFor="let equipo of filteredTeams" value="{{equipo.id}}">{{equipo.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col col-md-3 col-12">
            <div class="row">
                <label for="juego">Juego:</label>
            </div>
            <div class="row">
                <div class="filterPadding">
                    <select class="col-12" id="juego" formControlName="juego" require>
                        <option value={{null}}></option>
                        <option *ngFor="let phase of phases" value="{{phase}}">{{phase}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col col-md-3 col-12">
            <div class="row">
                <label for="bracket">Bracket:</label>
            </div>
            <div class="row">
                <div class="filterPadding">
                    <select class="col-12" id="bracket" formControlName="bracket" require>
                        <option value={{null}}></option>
                        <option *ngFor="let bkt of brackets" value="{{bkt}}">{{bkt}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="frow">
            <button type="submit" [disabled]="!matchForm.valid">Guardar</button>
        </div>
    </div>
</form>



    
<div
class="modal"
tabindex="-1"
role="dialog"
[ngStyle]="{'display':displayStyle}">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <p>{{popUpMsg}}</p>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" 
              (click)="closePopup()">
        Cerrar
      </button>
    </div>
  </div>
</div>
</div>