<div class="bg-image lower-corner-img" style="background-image: url('assets/no-background-logo-transparent.png');">
    <div class="container page-content">
        <div class="d-flex justify-content-center align-items-center" >
            <div style="width: 100%" class="text-justify outer">
            <ng-container *ngIf="!isLoggedIn">    
                <div class="container page-content">
                    <h1>Scouts Login</h1>
                    <form [formGroup]="form">
                        <fieldset>
                            <div class="form-field">
                                <label>Scout:</label>
                                <input name="scout" formControlName="scout">
                            </div>
                            <div class="form-field">
                                <label>Password:</label>
                                <input name="password" formControlName="password" 
                                    type="password">
                            </div>
                        </fieldset>
                        <div class="form-buttons">
                            <button class="button button-primary" 
                                    (click)="login()">Login</button>
                        </div>
                    </form>
                    <br>
                    <span style="background-color: red" *ngIf="failed"> Failed to Login </span>
                </div>
            </ng-container>
            <ng-container *ngIf="isLoggedIn">
                
                <div style="display: flex; flex-direction: column; align-items:flex-end;">
                    <form [formGroup]="form">
                        <label>Usuario: <i>{{scoutname}}</i> |&nbsp;</label>
                        <button class="button button-cancel" 
                        (click)="logout()">Logout</button>
                    </form>
                </div>

                <div class="row align-items-center" style="margin-top: 3%;">
                    <div class="col col-4 align-items-center text-center">
                        <button (click)="showEvaluacion()">Evaluar</button>
                    </div>
                    <div class="col col-4 align-items-center text-center">
                        <button (click)="showMarcadores()">Marcadores</button>
                    </div>
                    <div class="col col-4 align-items-center text-center">
                        <button (click)="showResultados()">Resultados</button>
                    </div>
                </div>
                
                <div class="text-center" *ngIf="marcadoresView">
                    <app-marcador-form [ddb]="ddb"></app-marcador-form>
                </div>
                
                <div class="text-center" *ngIf="evaluarView">
                    <app-evaluacion [ddb]="ddb"></app-evaluacion>
                </div>
                
                <div *ngIf="resultadosView">
                    <app-resultados-evaluacion></app-resultados-evaluacion>
                </div>
                
            </ng-container>
            </div>
        </div>
    </div>
    </div> 