<div class="bg-image lower-corner-img" style="background-image: url('assets/no-background-logo-transparent.png');">
    <div class="container page-content">
        <div class="d-flex justify-content-center align-items-center" >
            <div style="width: 100%" class="text-justify outer">
            <ng-container *ngIf="!isLoggedIn">    
                <div class="container page-content">
                    <h1>Scouts Login</h1>
                    <form [formGroup]="form">
                        <fieldset>
                            <div class="form-field">
                                <label>Scout:</label>
                                <input name="scout" formControlName="scout">
                            </div>
                            <div class="form-field">
                                <label>Password:</label>
                                <input name="password" formControlName="password" 
                                    type="password">
                            </div>
                        </fieldset>
                        <div class="form-buttons">
                            <button class="button button-primary" 
                                    (click)="login()">Login</button>
                        </div>
                    </form>
                    <br>
                    <span style="background-color: red" *ngIf="failed"> Failed to Login </span>
                </div>
            </ng-container>
            <ng-container *ngIf="isLoggedIn">
                
                <div style="display: flex; flex-direction: column; align-items:flex-end;">
                    <form [formGroup]="form">
                        <label>Usuario: <i>{{scoutname}}</i> |&nbsp;</label>
                        <button class="button button-cancel" 
                        (click)="logout()">Logout</button>
                    </form>
                </div>

                <select #feature (change)="changeFeature(feature.value)">
                    <option value="evaluar">Evaluar</option>
                    <option value="marcadores">Marcadores</option>
                    <option value="resultados">Resultados</option>
                    <option value="addMatch" *ngIf="isAdmin">AddMatch</option>
                    <option value="editMatch" *ngIf="isAdmin">EditMatch</option>
                </select>
                <br>
                <br>
                <br>

                <div class="spinner-border text-light" role="status" *ngIf="loading">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="row" *ngIf="!loading">
                    <div class="text-center" *ngIf="marcadoresView">
                        <app-marcador-form [ddb]="ddb"></app-marcador-form>
                    </div>
                    
                    <div class="text-center" *ngIf="evaluarView">
                        <app-evaluacion [ddb]="ddb"></app-evaluacion>
                    </div>
                    
                    <div *ngIf="resultadosView">
                        <app-resultados-evaluacion [ddb]="ddb"></app-resultados-evaluacion>
                    </div>
                    
                    <div *ngIf="matchGenView">
                        <app-match-generator [ddb]="ddb"></app-match-generator>
                    </div>
                    
                    <div *ngIf="matchEditView">
                        <app-match-editor [ddb]="ddb"></app-match-editor>
                    </div>
                </div>
                
            </ng-container>
            </div>
        </div>
    </div>
    </div> 