<div class="row justify-content-md-center padded-page">

<div *ngIf="loading">
    <h2>Loading ...</h2>
</div>

<div [hidden]="loading">
    <div class="col col-12" style="vertical-align: middle;">
        <h1 class="text-center">
            {{TournmentEdition}}º Torneo Gladiadores Hoops
        </h1>
        <br>
        <br>
        <br>
        
        <h2 *ngIf="!(showBrackets||showAwards||showStandings||showGroups)" class="text-center">
            Próximamente, estad atentos.
        </h2>
    </div>

    <!-- Shared category filter: drives brackets, standings and groups. -->
    <div class="col col-12 results-filters" *ngIf="showBrackets||showStandings||showGroups">
        <div class="year-select">
            <select id="categorySelect" class="year-select__control" [formControl]="category" (change)="selectCategory()">
                <option *ngFor="let cat of categories" [value]="cat">{{cat | titlecase}}</option>
            </select>
        </div>
    </div>

    <app-awards *ngIf="showAwards"></app-awards>
    <app-brackets *ngIf="showBrackets" [category]="selectedCategory" [teamLogos]="teamLogos"></app-brackets>
    <app-standing-matches *ngIf="showStandings" [category]="selectedCategory" [teamLogos]="teamLogos"></app-standing-matches>
    <app-groups *ngIf="showGroups" [category]="selectedCategory" [teamLogos]="teamLogos"></app-groups>
</div>
</div>