
<link 
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<!-- Header -->

<div class="row">
  <img src="assets/Equipos.png" width="100%" alt="10mo Torneo Gladiadores Hoops">
  <!--img src="assets/banner_11_resize.jpeg" width="100%" alt="10mo Torneo Gladiadores Hoops"-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/inicio" routerLinkActive="active" href="#">Gladiadores Hoops</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar"
          aria-controls="mynavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav ms-auto mt-2">
          <li class="nav-item active">
            <a routerLink="/inicio" routerLinkActive="active" class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="resultados" role="button" aria-expanded="false">Resultados</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="grupos">Grupos</a></li>
              <li><a class="dropdown-item" routerLink="brackets">Brackets</a></li>
              <li><a class="dropdown-item" routerLink="standings">Standings</a></li>
              <li><a class="dropdown-item" routerLink="resultados">Resultados 2022</a></li>
              <li><a class="dropdown-item" routerLink="marcadores">Marcadores 2022</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Acerca de Nosotros</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="acerca">Acerca de Nosotros</a></li>
              <li><a class="dropdown-item" routerLink="torneo">Acerca del Torneo</a></li>
              <li><a class="dropdown-item" routerLink="redes-sociales">Redes Sociales</a></li>
            </ul>
          </li>

          
          <li class="nav-item">
            <a routerLink="/patrocinios" routerLinkActive="active" class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Patrocinadores </a>
          </li>
          <li class="nav-item">
            <a routerLink="/turismo" routerLinkActive="active" class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Conoce Parral </a>
          </li>
          <li class="nav-item">
            <a routerLink="/scouts" routerLinkActive="active" class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Scouts </a>
          </li>
          <!--li class="nav-item">
            <a routerLink="/torneospasados" routerLinkActive="active" class="nav-link" href="#">Torneos Pasados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/fotos" routerLinkActive="active"  href="#">Fotos</a>
          </li-->
        </ul>
        <!--form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-outline-secondary" type="button">Search</button>
        </form-->
      </div>
    </div>
  </nav>
</div>

<!-- Content -->
<div class="row" style="background-image: linear-gradient(to bottom left, #f47941, #BA1E34) !important; color: #FFFFFF;">
<router-outlet></router-outlet>
</div>
<!-- Footer -->
<div class="row">

<!-- Footer -->
  <footer class="bg-dark text-center text-white ">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">

        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/Gladiadores-Hoops-447286148680378" target="_blank" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>

        <!-- Twitter -->
        <!--a class="btn btn-outline-light btn-floating m-1" href="#!" target="_blank" role="button"
          ><i class="fab fa-twitter"></i
        ></a-->

        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://instagram.com/gladiadoreshoops?igshid=NDA1YzNhOGU=" target="_blank" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
      </section>
      <!-- Section: Social media -->

      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          En busca fomentar el basquetbol como una herramienta de vida.
        </p>
      </section>
      <!-- Section: Text -->

      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-2 text-center align-items-center">
            <!-- Grid column -->
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <img src="assets/no-background-logo-transparent.png" style="width:30px;"  alt="..."> Gladiadores Hoops
              </h6>
              <!--p>
                ‘’Lo único más fuerte que el poder de la mente y la fuerza humana, es el coraje del corazón’’
              </p-->
              <p>
                ‘’Una fábrica de sueños’’
              </p>
            </div>
            <!--div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4">
                Links
              </h6>
              <p>
                <a href="#!" class="text-reset">Link 1</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Link 2</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Link 3</a>
              </p>
            </div>
    
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4">
                Links
              </h6>
              <p>
                <a href="#!" class="text-reset">Link 4</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Link 5</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Link 6</a>
              </p>
            </div-->
    
            <!-- Grid column -->
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Contacto
              </h6>
              <p><i class="fas fa-home me-3"></i> Hgo. del Parral, Chih, Mex</p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                parra211233g@gmail.com
              </p>
              <p><i class="fas fa-phone me-3"></i> +52&nbsp;627&nbsp;521&nbsp;2282 <br class="d-xl-none"><i class="fas fa-phone me-3 d-xl-none"></i> +52&nbsp;627&nbsp;119&nbsp;2829</p>
            </div>
            <!-- Grid column --> 
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://gladiadoreshoops.com/">GladiadoresHoops.com</a>
    </div>
    <!-- Copyright -->
  </footer>
<!-- Footer -->

</div>
