
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  <img src="assets/banner.jpeg" width="100%" alt="10mo Torneo Gladiadores Hoops">

<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a routerLink="/inicio-component" routerLinkActive="active" class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a routerLink="/acerca-component" routerLinkActive="active" class="nav-link" href="#">Acerca de Nosotros </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacto-component" routerLinkActive="active"  href="#">Contacto</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-outline-secondary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
