
<h2 class="text-center mb-3">
    Usuarios Registrados
</h2>

<div class="spinner-border text-light" role="status" *ngIf="loading">
    <span class="sr-only">Loading...</span>
</div>
<div class="mainpanel" *ngIf="!loading">
    <div class="scroll-container">
        <div style="min-width: 1100px;">
    <table class="row">
        <tr class="row">
            <th class="col col-3">Nombre</th>
            <th class="col col-2">Cel</th>
            <th class="col col-4">Email</th>
            <th class="col col-1">Rol</th>
            <th class="col col-2 groupLast"></th>
        </tr>
        <tr class="row" *ngFor="let user of users" >
            <td class="col col-3">{{user.name}}</td>
            <td class="col col-2">{{user.phone}}</td>
            <td class="col col-4">{{user.email}}</td>
            <td class="col col-1">{{user.role}}</td>
            <td class="col col-2 groupLast">{{user.other}}</td>
        </tr>
    </table>
        </div>
    </div>
    <br>
    <h2 class="text-center mb-3">
        Usuarios Inactivos
    </h2>
    <div class="scroll-container">
        <div style="min-width: 1100px;">
    <table class="row">
        <tr class="row">
            <th class="col col-3">Nombre</th>
            <th class="col col-2">Cel</th>
            <th class="col col-4">Email</th>
            <th class="col col-1">Rol</th>
            <th class="col col-2 groupLast"></th>
        </tr>
        <tr class="row" *ngFor="let user of inactiveUsers" >
            <td class="col col-3">{{user.name}}</td>
            <td class="col col-2">{{user.phone}}</td>
            <td class="col col-4">{{user.email}}</td>
            <td class="col col-1">{{user.role}}</td>
            <td class="col col-2 groupLast">{{user.other}}</td>
        </tr>
    </table>
        </div>
    </div>
</div>  