@import "colors";

table {
    color: black;
}

td, th {
    text-align: left;
    border: 0px solid #dddddd;
}

td {
    color: $dark-color;
    background-color: $light-color;
    padding: 8px;
}

tr{
    border-bottom: 2px solid $dark-color;
}

th {
    color: $light-color;
    background-color: $dark-color;
    padding: 8px;
}

.row{
    --bs-gutter-x: 0%;
}
