<div class="row justify-content-md-center">
<div class="col-12 col-md-6">
  <h2 class="text-center mb-3">
    Evaluacion de Jugadores
</h2>
<form [formGroup]="evaluationForm" (ngSubmit)="onSubmit()" class ="fcol">
        <input name="scout" type="text" formControlName="scoutId" value="{{scout_id}}" hidden readonly required>
        <input name="scout" type="text" formControlName="scoutname" value="{{scout_name}}" hidden readonly required>

    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Informacion del Jugador
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse show" >
            <div class="accordion-body">
                <label class="frow" for="categoria">Categoria:&nbsp;</label>
                <div class="frow">
                    <select id="categorias" formControlName="categoria" (change)="loadTeams()" required>
                        <option value=""></option>
                        <option *ngFor="let cat of categories" value="{{cat}}">{{cat}}</option>
                    </select>
                </div>
                <label class="frow" for="equipo">Equipo:&nbsp;</label>
                <div class="frow">
                    <select id="equipos" formControlName="equipo" (change)="loadPlayers()" required>
                        <option value=""></option>
                        <option *ngFor="let team of teams" value="{{team.name}}">{{team.name}}</option>
                    </select>
                </div>
                <label class="frow" for="nombre">Nombre:&nbsp;</label>
                <div class="frow">
                    <select id="players" formControlName="playerId" (change)="loadPlayerDetails()" required>
                        <option value=""></option>
                        <option *ngFor="let player of teamplayers" value="{{player.id}}">{{player.nombre}}</option>
                    </select>
                </div>
                <label class="frow" for="edad">Edad:&nbsp;</label>
                <input class="frow" disabled id="edad" type="number" min="1" max="99" value="{{selectedEdad}}">
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Posicion(es)
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <div class="frow" *ngFor="let pos of positions">
                    <input type="checkbox" id="{{pos.report}}" name="posicion-{{pos}}" value="{{pos.report}}" formControlName="posicion-{{pos.report}}">
                    <label class="checkbox-label" for="p{{pos}}">&nbsp;{{pos.localized}}&nbsp;</label>
                </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Tiro
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="frow" *ngFor="let tiro of tiros">
                    <label class="frow">{{tiro.localized}}:&nbsp;</label>
                    <div *ngFor="let idx of [1,2,3,4,5]">
                        <input type="radio" id="{{tiro.report}}{{idx}}" name="tiro-{{tiro.report}}" value="{{idx}}" formControlName="tiro-{{tiro.report}}">
                        <label class="radio-label" for="{{tiro.report}}{{idx}}">&nbsp;{{idx}}&nbsp;</label>
                    </div>
                </div>
              </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                  Pase
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="frow" *ngFor="let ps of pases">
                    <label class="frow">{{ps.localized}}:&nbsp;</label>
                    <div *ngFor="let idx of [1,2,3,4,5]">
                        <input type="radio" id="{{ps.report}}{{idx}}" name="pase-{{ps.report}}" value="{{idx}}" formControlName="pase-{{ps.report}}">
                        <label class="radio-label" for="{{ps.report}}{{idx}}">&nbsp;{{idx}}&nbsp;</label>
                    </div>
                </div>
              </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                  Defensa
              </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="frow" *ngFor="let df of defensas">
                    <label class="frow">{{df.localized}}:&nbsp;</label>
                    <div *ngFor="let idx of [1,2,3,4,5]">
                        <input type="radio" id="{{df.report}}{{idx}}" name="defensa-{{df.report}}" value="{{idx}}" formControlName="defensa-{{df.report}}">
                        <label class="radio-label" for="{{df.report}}{{idx}}">&nbsp;{{idx}}&nbsp;</label>
                    </div>
                </div>
              </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                  Bote
              </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="frow" *ngFor="let bt of botes">
                    <label class="frow">{{bt.localized}}:&nbsp;</label>
                    <div *ngFor="let idx of [1,2,3,4,5]">
                        <input type="radio" id="{{bt.report}}{{idx}}" name="bote-{{bt.report}}" value="{{idx}}" formControlName="bote-{{bt.report}}">
                        <label class="radio-label" for="{{bt.report}}{{idx}}">&nbsp;{{idx}}&nbsp;</label>
                    </div>
                </div>
              </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                  Jugador
              </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="frow" *ngFor="let jg of jugadores">
                    <label class="frow">{{jg.localized}}:&nbsp;</label>
                    <div *ngFor="let idx of [1,2,3,4,5]">
                        <input type="radio" id="{{jg.report}}{{idx}}" name="jugador-{{jg.report}}" value="{{idx}}" formControlName="jugador-{{jg.report}}">
                        <label class="radio-label" for="{{jg.report}}{{idx}}">&nbsp;{{idx}}&nbsp;</label>
                    </div>
                </div>
              </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                Estilo de Juego  
              </button>
            </h2>
            <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="frow" *ngFor="let est of estilos">
                    <input type="checkbox"  id="{{est.report}}" name="estilo-{{est.report}}" value="{{est}}" formControlName="estilo-{{est.report}}">
                    <label class="checkbox-label" for="{{est.report}}">&nbsp;{{est.localized}}&nbsp;</label>
                </div>
              </div>
            </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                Evaluation General
            </button>
          </h2>
          <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <div class="frow" *ngFor="let ev of evalGens">
                    <input type="radio" alt="{{ev.value}}{{ev.report}}" id="{{ev.value}}{{ev.report}}" name="general-{{ev.report}}" value="{{ev.value}}" formControlName="general-{{ev.report}}">
                    <label class="radio-label" for="{{ev.value}}{{ev.report}}">&nbsp;{{ev.value}} - {{ev.localized}}&nbsp;</label>
                </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
              Nominacion a Premios
            </button>
          </h2>
          <div id="flush-collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <div class="frow" *ngFor="let nom of nominaciones">
                  <input type="checkbox"  id="{{nom.report}}" name="nominacion-{{nom.report}}" value="{{nom}}" formControlName="nominacion-{{nom.report}}">
                  <label class="checkbox-label" for="{{nom.report}}">&nbsp;{{nom.localized}}&nbsp;</label>
              </div>
            </div>
          </div>
      </div>

    </div>
    <div class="frow">
        <button type="submit" [disabled]="!evaluationForm.valid">Guardar</button>
    </div>
</form>
</div>
</div>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>{{submitReportMessage}}</p>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
                (click)="closePopup()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>