@import "colors";

.fcol {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.frow {
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    padding-top: 1%;
}


.inlinelabel {
    flex: 30%;
    text-align: left;
}

.inlineinput {
    flex: 70%
}

fieldset {
    margin-top: 10%;
}

.accordion{
    width: 100%;
    background-color: #FCC258;
}

.accordion-button{
    background-image: linear-gradient(to bottom right, $mid-color, $dark-color);
    color: white;
}

.accordion-body{
    background-color: $light-color;
    color: $black-color;
}

.modal-dialog{
    color: black;
}