<!--img  *ngIf="available"  src="assets/grupos_2026.jpeg" class="d-lg-block d-none w-100" alt="..."-->
<mdb-carousel  *ngIf="available"  class="d-lg-block d-block" [controls]="true">
    <mdb-carousel-item>
      <img
        src="assets/grupos_elite_2026.png"
        class="d-block w-100"
        alt="..."
      />
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="assets/grupos_aprendiz_2026.png"
        class="d-block w-100"
        alt="..."
      />
    </mdb-carousel-item>
  </mdb-carousel>
<div class="bg-image lower-corner-img" *ngIf="!available" style="background-image: url('assets/no-background-logo-transparent.png');">
<div class="container page-content">

        <h1 class="text-center mb-3">
            Equipos Registrados
        </h1> <br>
        <h2>
          Próximamente, estad atentos!
        </h2>
</div>
</div>
<div class="bg-image lower-corner-img" *ngIf="available" style="background-image: url('assets/no-background-logo-transparent.png');">
    <div class="container page-content">

            <h1 class="text-center mb-3">
                Equipos Registrados
            </h1> <br>

            <div class="spinner-border text-light" role="status" *ngIf="loading">
                <span class="sr-only">Loading...</span>
            </div>


            <div class="text-center mb-3" *ngIf="!available">
                <h2>Próximamente, estad atentos.</h2>
            </div>
            <div class="mainpanel" *ngIf="!loading&&available">
                <div class="scroll-container">
                    <table class="modern-table" style="min-width: 100%;">
                        <tr>
                            <th> <a [routerLink]="" (click)="sortTeamsByName()">Equipo</a></th>
                            <th> <a [routerLink]="" (click)="sortTeamsByCategory()">Categoria</a></th>
                            <th> <a [routerLink]="" (click)="sortTeamsByLocation()">Localidad</a></th>
                            <th class="groupLast"> <a [routerLink]="" (click)="sortTeamsByCoach()">Coach</a></th>
                        </tr>
                        <tr class="clickable-row" *ngFor="let team of teams" [routerLink]="" (click)="viewPlayers(team.id)">
                            <td><img [src]="teamLogo(team.id)" class="team-list-logo" alt=""><u>{{team.name}}</u></td>
                            <td>{{team.category}}</td>
                            <td>{{team.location}}</td>
                            <td>{{team.coachName}}</td>
                        </tr>
                    </table>
                </div>
            </div>

    </div>
</div>

<!--list player modal-->
<div class="modal"
      tabindex="-1"
      role="dialog"
      [ngStyle]="{'display':displayPlayers}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Jugadores</h5>
        <button type="button" class="btn-close" (click)="closePlayers()" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">

        <table class="row modern-table">
            <tr class="row">
                <th class="col col-lg-2 col-2"> <a [routerLink]="">#</a></th>
                <th class="col col-lg-7 col-7"> <a [routerLink]="">Jugador</a></th>
                <th class="col col-lg-3 col-3"> <a [routerLink]="">Posicion</a></th>
            </tr>
            <tr class="row" *ngFor="let player of players">
                <td class="col col-lg-2 col-2">{{player.number}}</td>
                <td class="col col-lg-7 col-7">{{player.name}}{{(player.id === team?.captainId) ? " (Capitán)" : ""}}</td>
                <td class="col col-lg-3 col-3">{{player.position}}</td>
            </tr>
        </table>
        
      </div>
    </div>
  </div>
</div>