
<div class="spinner-border text-light" role="status" *ngIf="loading">
    <span class="sr-only">Loading...</span>
</div>
<div class="mainpanel" *ngIf="!loading">
  <button class="btn btn-outline-danger btn-floating m-1" title="Volver a Equipos Registrados" (click)="callParentToListTeams()" target="_blank" role="button">
    <i class="fas fa-arrow-left"></i>
  </button>
  
    <h2 class="text-center mb-3">
      {{team?.name}} &nbsp;
      <button class="btn btn-outline-danger btn-sm" *ngIf="editable" title="Editar Equipo" (click)="openEditTeam()" target="_blank" role="button">
        <i class="fa fa-pencil"></i>
      </button>&nbsp;
      <button class="btn btn-outline-danger  btn-sm" *ngIf="editable" title="Eliminar Equipo" (click)="removeTeam()" target="_blank" role="button">
        <i class="fa fa-trash"></i>
      </button>
    </h2>

    <table class="row">
        <tr class="row" *ngIf="userrole!='coach'">
            <th class="col col-lg-3 col-12"> <a [routerLink]="">Coach</a></th>
            <td class="col col-lg-9 col-12"> <a [routerLink]="">{{team?.coachName}}</a></td>
        </tr>
        <tr class="row">
            <th class="col col-lg-3 col-12"> <a [routerLink]="">Category</a></th>
            <td class="col col-lg-9 col-12"> <a [routerLink]="">{{team?.category}}</a></td>
        </tr>
        <tr class="row">
            <th class="col col-lg-3 col-12">Location</th>
            <td class="col col-lg-9 col-12">{{team?.location}}</td>
        </tr>
    </table>
    <p></p>
    <button *ngIf="editable" type="button" (click)="selectCaptan()" class="btn btn-outline-warning"> Seleccionar Capitán</button>
    <p></p>
    <table class="row">
        <tr class="row">
            <th class="col col-lg-8 col-12"> <a [routerLink]="">Player</a></th>
            <th class="col col-lg-4 col-12"> <a [routerLink]="">Position</a></th>
        </tr>
        <tr class="row" *ngFor="let player of players" [routerLink]="" (click)="editPlayer(player.id)">
            <td class="col col-lg-8 col-12"><u>{{player.name}}{{(player.id === team?.captainId) ? " (Capitán)" : ""}}</u></td>
            <td class="col col-lg-4 col-12">{{player.position}}</td>
        </tr>
    </table>
    <p></p>
    <button *ngIf="editable" type="button" (click)="addPlayer()" class="btn btn-outline-warning"> Aggregar Nuevo Jugador</button>&nbsp;
    <button *ngIf="editable" type="button" (click)="addExistingPlayer()" class="btn btn-outline-warning"> Aggregar Jugadores Existentes</button>
</div>  

<!--Edit team modal-->
<div class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayEditTeam}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Equipo</h5>
        <button type="button" class="btn-close" (click)="closeEditPopup()" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm" class ="fcol">
          <div class="frow" *ngIf="userrole==='coach'" >
            <input name="coachId" type="text" formControlName="coachId" value="{{userId}}" hidden readonly required>
          </div>
          <div class="frow" *ngIf="userrole!='coach'">
            <label class="frow" for="categoria">Coach:&nbsp;</label>
            <div class="frow">
              <select id="coachId" formControlName="coachId" required>
                  <option value=""></option>
                  <option *ngFor="let coach of coaches" value="{{coach.id}}">{{coach.name}}</option>
              </select>
            </div>
          </div>

          <label class="frow" for="categoria">Categoria:&nbsp;</label>
          <div class="frow">
              <select id="categorias" formControlName="category" required>
                  <option *ngFor="let cat of categories" value="{{cat}}">{{cat}}</option>
              </select>
          </div>
          <label class="frow" for="equipo">Equipo:&nbsp;</label>
          <div class="frow">
              <input type="text" id="equipo" formControlName="teamName" class="form-control" required>
          </div>
          <label class="frow" for="location">Ciudad, Estado y País:&nbsp;</label>
          <div class="frow">
              <input type="text" id="location" formControlName="location" class="form-control">
          </div>
          <label class="frow" for="captan">Capitán:&nbsp;</label>
          <div class="frow">
            <select id="captan" formControlName="captainId">
              <option value=""></option>
              <option *ngFor="let player of players" value="{{player.id}}">{{player.name}}</option>
            </select>
          </div>
        </form>
        <span style="background-color: red">{{errorMsg}}</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
                (click)="deletePlayer()">
          Eliminar Jugador
        </button>
        <button type="button" class="btn btn-danger" 
                (click)="confirmEditTeam()">
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>

<!--Delete team modal-->
<div class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayConfirmDeleteTeam}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar Equipo</h5>
        <button type="button" class="btn-close" (click)="closePopup()" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <p>Estas seguro que quieres eliminar el equipo "{{team?.name}}". Esta accion es irreversible.</p>
        <p>Para confirmar la eliminacion escribe el nombre del equipo:</p> 
        <span style="background-color: red">{{errorMsg}}</span>
        <form [formGroup]="deleteForm" class ="fcol">
            <input name="teamToDelete" formControlName="teamToDelete" type="text" required>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
                (click)="confirmDeleteTeam()">
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>

<!--Select captan modal-->
<div class="modal"
      tabindex="-1"
      role="dialog"
      [ngStyle]="{'display':displayCaptan}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Selecciona Capitán</h5>
        <button type="button" class="btn-close" (click)="closeCaptan()" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="frow">
          <select id="captan" #selcapt (change)="onChangeCapt(selcapt.value)">
            <option default value=""></option>
            <option *ngFor="let player of players" value="{{player.id}}">{{player.name}}</option>
          </select><br><br>
          <button type="button" class="btn btn-outline-danger" 
          (click)="saveCaptan()">
          Confirmar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Add existing player modal-->
<div class="modal"
      tabindex="-1"
      role="dialog"
      [ngStyle]="{'display':displayAddExistingPlayer}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Aggregar Jugadores Existentes</h5>
        <button type="button" class="btn-close" (click)="closeAddExistingPlayer()" aria-label="Close">
        </button>
      </div>
      
      <div class="modal-body">
        <div class="frow">
          <p>Por favor seleccione los jugadores que desea registrar en este equipo:</p>
          <form [formGroup]="addExistingPlayerForm" (ngSubmit)="addExistingPlayerSubmit()" class ="fcol">
              <div *ngFor="let option of ordersFormArray.controls; let i = index">
                  <label formArrayName="selectedOptions" >
                    <input type="checkbox" [formControlName]="i">
                    {{ availablePlayers![i].name }}
                  </label>
              </div>
              <div class="frow">
                  <button type="submit" [disabled]="!addExistingPlayerForm.valid">Registrar</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Delete player modal-->
<div class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayConfirmDeletePlayer}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar Jugador</h5>
        <button type="button" class="btn-close" (click)="closeDeletePlayerPopup()" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <p>Estas seguro que quieres eliminar el jugador "{{selectedPlayer.name}}". Esta accion es irreversible.</p>
        <p>Para confirmar la eliminacion escribe el nombre del jugador:</p> 
        <span style="background-color: red">{{errorMsg}}</span>
        <form [formGroup]="deletePlayerForm" class ="fcol">
            <input name="playerToDelete" formControlName="playerToDelete" type="text" required>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
                (click)="confirmDeletePlayer()">
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>

<!--Add player modal-->
<div class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayAddPlayer}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Jugador</h5>
        <button type="button" class="btn-close" (click)="closeAddPlayerPopup()" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <app-add-player [teamplayers]="players" [equipoId]="team?.id!" [categoria]="team?.category!" [playerId]="newplayerid" [ddb]="ddb"></app-add-player>
      </div>
      <div class="modal-footer">
        <button *ngIf="editable" type="button" class="btn btn-danger" 
                (click)="confirmAddPlayer()">
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>