<div class="container page-content">
    <div class="d-flex justify-content-center align-items-center" >
        <div class="text-justify">

        <h5 class="text-center mb-3">
            Turismo
        </h5><br>
        <p>
            Gladiadores Hoops recibe cada año a aproximadamente <b> 300 - 350</b> jugadores.
            Además de familiares, amigos y coaches, provenientes de distintos estados de México, así como equipos de Estados Unidos y otros países de Latinoamérica, por lo que su contribución al turismo en parral resulta casi inevitable.
            Esto sumado a la cantidad de público para pequeñas y medianas empresas parralenses que el torneo atrae durante cada edición.
        </p>
        <br>
        <h5 class="text-center"> 
            TRES DÍAS DE FIESTA BASQUETBOLERA EN NUESTRA CIUDAD
        </h5>    
        <img src="assets/LogoChihuahua.png" class="d-block" style="float: right; width:11%; padding: 1%" alt="...">
        <br><br>
        </div>
    </div>
</div>


 

