    
    <h2 class="text-center mb-3">
        Evaluacion de Jugadores
    </h2>

    <div class="mainpanel">
        <div class="sidepanels">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item" *ngFor="let award of topPlayers; let i=index">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#flush-collapse' + i" aria-expanded="false" [attr.aria-controls]="'flush-collapse'+i">
                        Top {{award.top.length}} {{award.name}}
                    </button>
                  </h2>
                  <div [attr.id]="'flush-collapse' + i" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <!-- <h4>Aprendiz</h4> -->
                        <table class="col-12">
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Equipo</th>
                                <th>Puntaje</th>
                            </tr>
                            <tr *ngFor="let tiro of award.top; let i=index" (click)="updateSelected(tiro.playerId)">
                                <td>{{i+1}}</td>
                                <td>{{tiro.name}}</td>
                                <td>{{tiro.team}}</td>
                                <td>{{tiro.score}}</td>
                            </tr>
                        </table>
                        <!-- <h4>Elite</h4>
                        <table class="col-12">
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Puntos</th>
                            </tr>
                            <tr  *ngFor="let tiro of award.topElite; let i=index" (click)="updateSelected(tiro.Name)">
                                <td>{{i+1}}</td>
                                <td>{{tiro.Name}}</td>
                                <td>{{tiro.Points}}</td>
                            </tr>
                        </table> -->
                    </div>
                  </div>
                </div>

                <!-- <div class="accordion-item" *ngFor="let award of nominations; let i=index">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#flush-collapse-non-' + i" aria-expanded="false" [attr.aria-controls]="'flush-collapse-non-'+i">
                          Nominaciones {{award.award}}
                      </button>
                    </h2>
                    <div [attr.id]="'flush-collapse-non-' + i" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                          <h4>Aprendiz</h4>
                          <table class="col-12">
                              <tr>
                                  <th>#</th>
                                  <th>Nombre</th>
                                  <th>Puntos</th>
                              </tr>
                              <tr  *ngFor="let tiro of award.topAprendiz; let i=index" (click)="updateSelected(tiro.Name)">
                                  <td>{{i+1}}</td>
                                  <td>{{tiro.Name}}</td>
                                  <td>{{tiro.Points}}</td>
                              </tr>
                          </table>
                          <h4>Elite</h4>
                          <table class="col-12">
                              <tr>
                                  <th>#</th>
                                  <th>Nombre</th>
                                  <th>Puntos</th>
                              </tr>
                              <tr  *ngFor="let tiro of award.topElite; let i=index" (click)="updateSelected(tiro.Name)">
                                  <td>{{i+1}}</td>
                                  <td>{{tiro.Name}}</td>
                                  <td>{{tiro.Points}}</td>
                              </tr>
                          </table>
                      </div>
                    </div>
                  </div> -->
            </div>
        </div>

        <div class="sidepanels" hidden>
            <form [formGroup]="filterForm">
                <div class="row">
                    <div class="col col-md-3 col-12">
                        <div class="row">
                            <label for="category">Category:</label>
                        </div>
                        <div class="row">
                            <div class="filterPadding">
                                <select class="col-12" id="category" formControlName="cat" (change)="applyFilters()" required>
                                    <option value={{null}}></option>
                                    <option value="aprendiz">Aprendiz</option>
                                    <option value="elite">Elite</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-3 col-12">
                        <div class="row">
                            <label for="teams">Equipo</label>
                        </div>
                        <div class="row">
                            <div class="filterPadding">
                                <select class="col-12" id="teams" formControlName="equipo" (change)="applyFilters()" require>
                                    <option value={{null}}></option>
                                    <option *ngFor="let equipo of equipos" value="{{equipo.name}}">{{equipo.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-3 col-12">
                        <div class="row">
                            <label for="teams">Jugador</label>
                        </div>
                        <div class="row">
                            <div class="filterPadding">
                                <select class="col-12" id="player" formControlName="player" (change)="updateSelected(filterForm.value.player!)" require>
                                    <option value={{null}}></option>
                                    <option *ngFor="let player of players" value="{{player.Name}}">{{player.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div>
                <div>
                    <b>Nombre</b>
                </div>
                <div class="playerfield">
                    {{selectedPlayer.Name}}
                </div>

                <div>
                    <b>Scouts</b>
                </div>
                <div class="playerfield">
                    {{selectedPlayer.Scouts}}
                </div>

                <div>
                    <b>Equipo</b>
                </div>
                <div class="playerfield">
                    {{selectedPlayer.Equipo}}
                </div>

                <div>
                    <b>Evaluacion General</b>
                </div>
                <div class="playerfield">
                    {{selectedPlayer.Evalgen}}
                </div>
            </div>
            <br>
            <div class="row">
            <div class="col-11 col-md-4">
                <div>
                    <b>Posicion</b>
                </div>
                <div class="row myrow" *ngFor="let pos of selectedPlayer.Position">
                    <div class="col-6">{{pos.posicion}}</div>
                    <div class="col-5 playerfield">{{pos.votes}}/{{selectedPlayer.Scouts}}</div>
                </div>
                <br>
            </div>
            <div class="col-11 col-md-8">
                <div>
                    <b>Estilo de Juego</b>
                </div>
                <div class="row myrow" *ngFor="let style of selectedPlayer.Style">
                    <div class="col-6">{{style.style}}</div> 
                    <div class="col-5 playerfield">{{style.votes}}/{{selectedPlayer.Scouts}}</div>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-11 col-md-4">
                    <div>
                        <b>Skills</b>
                    </div>
                    <div class="row myrow" *ngFor="let skill of selectedPlayer.skills">
                        <div class="col-6">{{skill.Name}}</div>
                        <div class="col-5 playerfield">{{skill.Points}}/{{selectedPlayer.Scouts}}</div>
                    </div>
                    <br>
                </div>
                <div class="col-11 col-md-8">
                    <div>
                        <b>Nominations</b>
                    </div>
                    <div class="row myrow" *ngFor="let nom of selectedPlayer.nominations">
                        <div class="col-6">{{nom.Name}}</div> 
                        <div class="col-5 playerfield">{{nom.Points}}/{{selectedPlayer.Scouts}}</div>
                    </div>
                </div>
                </div>
        </div>
    </div>  
