
<h2 class="text-center mb-3">
    Evaluacion de Jugadores
</h2>

<div class=>
    Category: 
    <select #category (change)="switchCategory(category.value)">
        <option value="aprendiz">Aprendiz</option>
        <option selected value="elite">Elite</option>
    </select>
</div>
<div class="spinner-border text-light" role="status" *ngIf="loading">
    <span class="sr-only">Loading...</span>
</div>
<div class="mainpanel" *ngIf="!loading">
    <div class="sidepanels">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item" *ngFor="let award of selectedCategoryTop; let i=index">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#flush-collapse' + i" aria-expanded="false" [attr.aria-controls]="'flush-collapse'+i">
                    Top {{award.top.length}} {{award.name}}
                </button>
                </h2>
                <div [attr.id]="'flush-collapse' + i" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <table class="row">
                        <tr class="row">
                            <th class="col col-1">#</th>
                            <th class="col col-5">Nombre</th>
                            <th class="col col-4">Equipo</th>
                            <th class="col col-2">Pts</th>
                        </tr>
                        <tr class="row" *ngFor="let player of award.top; let i=index" (click)="updateSelected(player.playerId)">
                            <td class="col col-1">{{i+1}}</td>
                            <td class="col col-5">{{player.name}}</td>
                            <td class="col col-4">{{player.team}}</td>
                            <td class="col col-2">{{player.score}}</td>
                        </tr>
                    </table>
                </div>
                </div>
            </div>               
        </div>
    </div>
</div>  

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}" *ngIf="selectedPlayerReport!=undefined">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <div>
                        <b>Nombre</b>
                    </div>
                    <div class="playerfield">
                        {{selectedPlayer!.nombre}}
                    </div>

                    <div>
                        <b>Scouts</b>
                    </div>
                    <div class="playerfield">
                        {{selectedPlayerReport!.scouts.length}} 
                    </div>

                    <div>
                        <b>Equipo</b>
                    </div>
                    <div class="playerfield">
                        {{selectedPlayerTeam.name}}
                    </div>

                    <div *ngIf="selectedPlayerReport.general">
                        <b>Evaluacion General</b>
                        <div class="playerfield">
                            {{selectedPlayerReport!.general!.skill[0].value!}}
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-12 col-md-6 score-block" *ngIf="selectedPlayerReport.posicion">
                        <div>
                            <div class="col-12"><b>Posicion (Votos):</b></div>
                        </div>
                        <div class="row myrow" *ngFor="let pos of selectedPlayerReport.posicion!.skill">
                            <div class="col-10">{{pos.localized}}</div>
                            <div class="col-2 playerfield">{{pos.value}}</div>
                        </div>
                        <br>
                    </div>
                    <div class="col-12 col-md-6 score-block" *ngIf="selectedPlayerReport.estilo">
                        <div class="row">
                            <div class="col-10"><b>Estilo de Juego (Votos):</b></div>
                            <!-- <div class="col-2 playerfield">{{selectedPlayerReport.estilo.score.avg}}</div> -->
                        </div>
                        <div class="row myrow" *ngFor="let style of selectedPlayerReport.estilo!.skill">
                            <div class="col-10">{{style.localized}}</div> 
                            <div class="col-2 playerfield">{{style.value}}</div>
                        </div>
                    </div>
                    
                    <div class="col-12 col-md-6 score-block" *ngIf="selectedPlayerReport.tiro">
                        <div class="row">
                            <div class="col-10"><b>Tiro (Premodio):</b></div>
                            <div class="col-2 playerfield">{{selectedPlayerReport.tiro.score.avg}}</div>
                        </div>
                        <div class="row myrow" *ngFor="let style of selectedPlayerReport.tiro!.skill">
                            <div class="col-10">{{style.localized}}</div> 
                            <div class="col-2 playerfield">{{style.value}}</div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 score-block" *ngIf="selectedPlayerReport.defensa">
                        <div class="row">
                            <div class="col-10"><b>Defensa (Premodio):</b></div>
                            <div class="col-2 playerfield">{{selectedPlayerReport.defensa.score.avg}}</div>
                        </div>
                        <div class="row myrow" *ngFor="let style of selectedPlayerReport.defensa!.skill">
                            <div class="col-10">{{style.localized}}</div> 
                            <div class="col-2 playerfield">{{style.value}}</div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 score-block" *ngIf="selectedPlayerReport.jugador">
                        <div class="row">
                            <div class="col-10"><b>Jugador (Premodio):</b></div>
                            <!-- <div class="col-2 playerfield">{{selectedPlayerReport.jugador.score.avg}}</div> -->
                        </div>
                        <div class="row myrow" *ngFor="let style of selectedPlayerReport.jugador!.skill">
                            <div class="col-10">{{style.localized}}</div> 
                            <div class="col-2 playerfield">{{style.value}}</div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 score-block" *ngIf="selectedPlayerReport.pase">
                        <div class="row">
                            <div class="col-10"><b>Pase (Premodio):</b></div>
                            <div class="col-2 playerfield">{{selectedPlayerReport.pase.score.avg}}</div>
                        </div>
                        <div class="row myrow" *ngFor="let style of selectedPlayerReport.pase!.skill">
                            <div class="col-10">{{style.localized}}</div> 
                            <div class="col-2 playerfield">{{style.value}}</div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 score-block" *ngIf="selectedPlayerReport.bote">
                        <div class="row">
                            <div class="col-10"><b>Bote (Premodio):</b></div>
                            <div class="col-2 playerfield">{{selectedPlayerReport.bote.score.avg}}</div>
                        </div>
                        <div class="row myrow" *ngFor="let style of selectedPlayerReport.bote!.skill">
                            <div class="col-10">{{style.localized}}</div> 
                            <div class="col-2 playerfield">{{style.value}}</div>
                        </div>
                    </div>

                    <div class="col-12 score-block" *ngIf="selectedPlayerReport.nominacion">
                        <div class="row">
                            <div class="col-12"><b>Nominaciones (Votos):</b></div>
                        </div>
                        <div class="row myrow" *ngFor="let style of selectedPlayerReport.nominacion!.skill">
                            <div class="col-10 col-md-11">{{style.localized}}</div> 
                            <div class="col-2 col-md-1 playerfield">{{style.value}}</div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-danger" 
                    (click)="closePopup()">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
