
.demo {
    border:8px solid #f16b4e;
    border-collapse:collapse;
    padding:5px;
    margin-left: auto;
    margin-right: auto;
}
.demo th {
    border:8px solid #f16b4e;
    padding:2%;
    background:#CCCCCC;
    text-align: center;
}
.demo td {
    border:8px solid #f16b4e;
    padding:2%;
    background:#FCEBC1;
}