<div class="container page-content">
    <div class="d-flex justify-content-center align-items-center" >
        <div class="text-justify">

        <h5 class="text-center mb-3">
            Patrocinadores
        </h5><br><br>
        <p>
            El reconocimiento a los patrocinadores es prioridad en redes sociales, antes, durante y después del torneo, por lo que debe estar presente en cada post, story, reel, etc.
        </p>
        <p>
            Año con año, el torneo se sustenta gracias a patrocinadores, muchos de ellos locales, con lo cual activa la economía de pequeñas y medianas empresas parralenses al atraer más público a sus negocios.
        </p>
        <p>
            El torneo ofrece al patrocinador la presencia de su marca, su logo, etc. En:
        </p>
        <ul>
            <li>lonas y banners oficiales del torneo</li>
            <li>posters, flyers, documentos, etc. Del torneo</li>
            <li>redes sociales del torneo</li>
            <li>premios patrocinados del torneo</li>
            <li>reconocimiento de patrocinador</li>
            <li>transmisiones en vivo durante los 3 días del torneo - publicidad antes, durante y después del torneo</li>
        </ul>

        <!--h5 class="text-center mb-3">
            Patrocinio de Scout
        </h5>
        <table class="demo">
            <thead>
            <tr>
                <th style="width: 30%;">¿En qué consiste?</th>
                <th style="width: 30%;">Opciones De Patrocinio</th>
                <th style="width: 40%;">Beneficio a la empresa patrocinadora</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>El torneo gladiadores es acerca de crear oportunidades para los jugadores jóvenes, por lo cual cada año se invita y se espera la presencia de invitados scouts y visores de distintas universidades, agencias y organizaciones importantes dentro del basquetbol con el objetivo de que observen el talento presente en el torneo. Este patrocinio nos permite contar con la presencia de dichos scouts.</td>
                <td>
                    <ul>
                        <li>$2,500 mxn (a pagarse en dos partes)</li>
                        <li>Ó dos comidas completas para 18 personas</li>
                        <li>Ó un cuarto de hotel para 4 personas por 3 noches</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Logo pequeño en lona de premiación/bienvenida</li>
                        <li>Pieza de reconocimiento personalizada</li>
                        <li>Difusión en redes sociales con contenido de la empresa</li>
                        <li>Publicación de agradecimiento en la página</li>
                        <li>Mención y publicidad continua antes, durante y después del evento</li>
                        <li>Mención impresa en kits entregados a los equipos</li>
                        <li>Oportunidad de llevar propaganda de la marca a las sedes (sobre aviso)</li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table-->
        <br><br>
        </div>
    </div>
</div>
