
<h2 class="text-center mb-3">
    Equipos Registrados
</h2>

<div class="spinner-border text-light" role="status" *ngIf="loading">
    <span class="sr-only">Loading...</span>
</div>
<div class="mainpanel" *ngIf="!loading">
    <table class="row">
        <tr class="row">
            <th [ngClass]="{'col': true, 'col-12': true, 'col-lg-4': userrole != 'coach', 'col-lg-6': userrole === 'coach'}"> <a [routerLink]="" (click)="sortTeamsByName()">Equipo</a></th>
            <th class="col col-lg-3 col-12"> <a [routerLink]="" (click)="sortTeamsByCategory()">Categoria</a></th>
            <th class="col col-lg-3 col-12"> <a [routerLink]="" (click)="sortTeamsByLocation()">Localidad</a></th>
            <th *ngIf="userrole != 'coach'" class="col col-lg-2 col-12 groupLast"> <a [routerLink]="" (click)="sortTeamsByCoach()">Coach</a></th>
        </tr>
        <tr class="row" *ngFor="let team of teams" [routerLink]="" (click)="viewTeam(team.id)">
            <td [ngClass]="{'col': true, 'col-12': true, 'col-lg-4': userrole != 'coach', 'col-lg-6': userrole === 'coach'}"><u>{{team.name}}</u></td>
            <td class="col col-lg-3 col-12">{{team.category}}</td>
            <td class="col col-lg-3 col-12">{{team.location}}</td>
            <td *ngIf="userrole != 'coach'" class="col col-lg-2 col-12">{{coaches.get(team.coachId)?.name}}</td>
        </tr>
    </table>
    <br><br>
    <div class="frow" >
        <button *ngIf="editable" type="button" (click)="callParentToAddTeam()" class="btn btn-dark">Registrar Nuevo Equipo</button>
    </div>
    <div *ngIf="pastTeams.length>0">
        <h3 class="text-center mb-3">
            Años Anteriores
        </h3>
        <table class="row">
            <tr class="row">
                <th class="col col-12 col-lg-6">Equipo</th>
                <th class="col col-lg-2 col-12"> <a [routerLink]="">Categoria</a></th>
                <th class="col col-lg-2 col-12"> <a [routerLink]="">Localidad</a></th>
                <th class="col col-lg-2 col-12"> <a [routerLink]="">Year</a></th>
            </tr>
            <tr class="row" *ngFor="let team of pastTeams" [routerLink]="">
                <td class="col col-12 col-lg-6"><u>{{team.name}}</u></td>
                <td class="col col-lg-2 col-12">{{team.category}}</td>
                <td class="col col-lg-2 col-12">{{team.location}}</td>
                <td class="col col-lg-2 col-12"> {{team.year}} &nbsp; <button *ngIf="editable" type="button" class="btn btn-dark" (click)="updateSelectedRenewalTeam(team.id)">Renovar</button>
                </td>
            </tr>
        </table>
    </div>
</div>  

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}" *ngIf="selectedRenewalTeam!=undefined">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header dark-header">
                <h5 class="modal-title">Registrar Equipo: {{selectedRenewalTeam.name}}</h5>
                <button type="button" class="btn-close" (click)="closePopup()" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <p>Por favor seleccione los jugadores que desea registrar este año:</p>
                <form [formGroup]="teamRenewalForm" (ngSubmit)="onSubmit()" class ="fcol">
                    <div *ngFor="let option of ordersFormArray.controls; let i = index">
                        <label formArrayName="selectedOptions" >
                          <input type="checkbox" [formControlName]="i">
                          {{ renewalPlayers![i].name }}
                        </label>
                    </div>
                    <div class="frow">
                        <button class="btn btn-dark" type="submit" [disabled]="!teamRenewalForm.valid">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':errordisplayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>Failed!</p>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
                (click)="closeErrorPopup()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
