<form [formGroup]="playerForm" >
  <div class="row" style="padding: 2px;">
    <div class="col col-12 col-lg-5" style="position: relative;z-index: 1; height:200px">
      <img id="image" style="max-height: 200px; max-width:90%;position: absolute; top:0; left:0; ;z-index: 1;" [src]="imageUrl">
      <label *ngIf="this.player.id" style="position: absolute;top: 0;left: 0;z-index: 2;" for="playerPhotoFile"><i class="fa fa-camera" style="font-size: 2em;"></i></label>
      <input *ngIf="this.player.id" style="display:none;" id="playerPhotoFile" type="file" (change)="onFileSelected($event)" accept="image/*" maxFileSize="10000000">
    </div>
    <div class="col col-12 col-lg-7">
      <input name="scout" type="text" formControlName="equipo" value="{{player.team}}" hidden readonly required>
      <input name="scout" type="text" formControlName="categoria" value="{{player.category}}" hidden readonly required>

      <label class="frow" for="nombre">Nombre:&nbsp;</label>
      <input class="frow" type="text" formControlName="nombre" class="form-control" value="{{player.name}}">
      <label class="frow" for="bday">Fecha de Nacimiento:&nbsp;</label>
      <input class="frow" formControlName="bday" class="form-control" type="date" value="{{player.birthday}}">

      <label class="frow" for="position">Posición:&nbsp;</label>
      <div class="frow">
        <label *ngFor="let pos of positions" style="margin-right: 12px;">
          <input type="checkbox" [checked]="selectedPositions[pos]" (change)="togglePosition(pos)">
          &nbsp;{{pos}}
        </label>
      </div>

      <label class="frow" for="numero">Número:&nbsp;</label>
      <input class="frow" formControlName="numero" class="form-control" type="number" min="0" max="99" value="{{player.number}}">
      <label class="frow" for="curp">CURP:&nbsp;</label>
      <input class="frow" formControlName="curp" class="form-control" type="text" value="{{player.curp}}">
      <label class="frow" for="altura">Altura (cm):&nbsp;</label>
      <input class="frow" formControlName="altura" class="form-control" type="number" min="1" max="300" value="{{player.height}}">
      <label class="frow" for="peso">Peso (kg):&nbsp;</label>
      <input class="frow" formControlName="peso" class="form-control" type="number" min="1" max="300" value="{{player.weight}}">

      <label class="frow" for="waiverFile">Carta Responsiva:&nbsp;</label>
      <div class="frow">
        <input id="waiverFile" type="file" (change)="onWaiverSelected($event)" accept="image/*,application/pdf">
      </div>
      <p *ngIf="waiverError" style="color: red;">{{waiverError}}</p>
      <div class="frow" *ngIf="player.liabilityWaiver">
        <button type="button" class="btn btn-dark btn-sm mt-1" (click)="openLiabilityWaiver()">Ver Carta Responsiva</button>
      </div>
    </div>
  </div>
</form>

<!--Liability waiver full-screen modal-->
<div class="modal"
      tabindex="-1"
      role="dialog"
      [ngStyle]="{'display':displayWaiver}">
  <div class="modal-dialog modal-fullscreen" role="document">
    <div class="modal-content">
      <div class="modal-header dark-header">
        <h5 class="modal-title">Carta Responsiva</h5>
        <button type="button" class="btn-close" (click)="closeLiabilityWaiver()" aria-label="Close">
        </button>
      </div>
      <div class="modal-body" style="height: 100%;">
        <div *ngIf="loadingWaiver" class="text-center">
          <div class="spinner-border text-dark" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <p *ngIf="waiverError" style="color: red;">{{waiverError}}</p>
        <iframe *ngIf="!loadingWaiver && waiverSafeUrl && waiverIsPdf" [src]="waiverSafeUrl" style="width: 100%; height: 100%; border: none;"></iframe>
        <div *ngIf="!loadingWaiver && waiverUrl && !waiverIsPdf" class="text-center" style="height: 100%; overflow: auto;">
          <img [src]="waiverUrl" alt="Carta Responsiva" style="max-width: 100%;">
        </div>
      </div>
    </div>
  </div>
</div>