@import "colors";

.mainpanel {
    display: flex;
}

.mainpanel .sidepanels {
    padding: 2%;
    background-color: linear-gradient(to bottom left, $bg-color1, $bg-color2);

    -ms-flex: 1;  /* IE 10 */  
    flex: 1;
}

.playerfield {
    background-color: $bg-color1;
    color: black;
    font-weight: bold;
    padding-left: 5%;
}


.myrow div{
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 5%;
}

.score-block{
    padding: 2%
}
.row {
    --bs-gutter-x: 0%;
}
.accordion-body {
    padding: 0%;
}
table {
    color: black;
    background-color: $bg-color2;
}

td, th {
    text-align: left;
    padding: 8px;
    border: 0px solid #dddddd;
}

td {
    color: $text-color2;
    background-color: $bg-color2;
}

th {
    background-color: $header-color2 !important;
    border-bottom: 2px solid $header-color2;
    color: $text-color2;
}

.col-md-8 {
    padding: 0% 0% 0% 5%;
}

.modal-dialog{
    color: black;
    background-color: #dddddd;
}
