
<h2 class="text-center mb-3">
    Estadisticas de Evaluacion
</h2>

<div class=>
    <div>
        <form [formGroup]="filterForm">
            <div class="row">
                <div class="col col-md-3 col-12">
                    <div class="row">
                        <label for="category">Categoria:</label>
                    </div>
                    <div class="row">
                        <div class="filterPadding">
                            <select class="col-12" id="category" formControlName="cat" (change)="applyFilters()" required>
                                <option value="aprendiz">Aprendiz</option>
                                <option selected value="elite">Elite</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col col-md-3 col-12">
                    <div class="row">
                        <label for="awardCat">Habilidad:</label>
                    </div>
                    <div class="row">
                        <div class="filterPadding">
                            <select class="col-12" id="awardCat" formControlName="awardCat" (change)="applyFilters()" required>
                                <option *ngFor="let awardCategory of awardCategories" value="{{awardCategory}}">{{awardCategory}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col col-md-3 col-12">
                    <div class="row">
                        <label for="teams">Equipo</label>
                    </div>
                    <div class="row">
                        <div class="filterPadding">
                            <select class="col-12" id="teams" formControlName="equipo" (change)="applyFilters()" require>
                                <option value={{null}}></option>
                                <option *ngFor="let equipo of catEquipos" value="{{equipo.id}}">{{equipo.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col col-md-3 col-12">
                    <div class="row">
                        <label for="teams">Jugador</label>
                    </div>
                    <div class="row">
                        <div class="filterPadding">
                            <select class="col-12" id="player" formControlName="player" (change)="updateSelected(filterForm.value.player!)" require>
                                <option value={{null}}></option>
                                <option *ngFor="let player of players" value="{{player.id}}">{{player.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="spinner-border text-light" role="status" *ngIf="loading">
    <span class="sr-only">Loading...</span>
</div>
<div class="mainpanel" *ngIf="!loading">
    <div class="sidepanels">
        <div  *ngIf="selectedAwardCat != null && selectedAwardCat != undefined && selectedAwardCat.sectionTop.length > 0">
            <h3 class="text-center mb-3"> Puntuacion total de {{selectedAwardCat.sectionName}} </h3>
            <table class="row">
                <tr class="row">
                    <th class="col col-1">#</th>
                    <th class="col col-5">Nombre</th>
                    <th class="col col-4">Equipo</th>
                    <th *ngIf="showAvg" class="col col-2">Pts</th>
                    <th *ngIf="!showAvg" class="col col-2">Votos</th>
                </tr>
                <tr class="row" *ngFor="let player of selectedAwardCat.sectionTop; let i=index" (click)="updateSelected(player.playerId)">
                    <td class="col col-1">{{i+1}}</td>
                    <td class="col col-5">{{player.name}}</td>
                    <td class="col col-4">{{player.team}}</td>
                    <td *ngIf="showAvg" class="col col-2">{{player.section.score.avg}}</td>
                    <td *ngIf="!showAvg" class="col col-2">{{player.section.score.count}}</td>
                </tr>
            </table>
        </div>

        <h3 class="text-center mb-3" *ngIf="selectedAwardCat != null && selectedAwardCat != undefined"> Desglose de {{selectedAwardCat.sectionName}} </h3>

        <div  *ngFor="let topSkill of selectedAwardCatSkills | keyvalue; let i=index" class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#flush-collapse-awds'" aria-expanded="false" [attr.aria-controls]="'flush-collapse-awds'">
                    Top {{topSkill.value.length}} {{topSkill.key}} 
                </button>
                </h2>
                <div [attr.id]="'flush-collapse-awds'" class="accordion-collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <table class="row">
                        <tr class="row">
                            <th class="col col-1">#</th>
                            <th class="col col-5">Nombre</th>
                            <th class="col col-4">Equipo</th>
                            <th *ngIf="showAvg" class="col col-2">Pts</th>
                            <th *ngIf="!showAvg" class="col col-2">Votos</th>
                        </tr>
                        <tr class="row" *ngFor="let player of topSkill.value; let i=index" (click)="updateSelected(player.playerId)">
                            <td class="col col-1">{{i+1}}</td>
                            <td class="col col-5">{{player.name}}</td>
                            <td class="col col-4">{{player.team}}</td>
                            <td *ngIf="showAvg" class="col col-2">{{player.skill.avg}}</td>
                            <td *ngIf="!showAvg" class="col col-2">{{player.skill.count}}</td>
                        </tr>
                    </table>
                </div>
                </div>
            </div>  
        </div>

    </div>
    
</div>  

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}" *ngIf="selectedPlayerReport!=undefined">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col col-12 col-md-5" style="position: relative;z-index: 1; height:200px">
                        <img id="image" style="max-height: 200px; max-width:90%;position: absolute; top:0; left:0; ;z-index: 1;" [src]="imageUrl">
                    </div>

                    <div class="col col-12 col-md-7">
                        <div>
                            <b>Nombre</b>
                        </div>
                        <div class="playerfield">
                            {{selectedPlayer!.name}}
                        </div>

                        <div>
                            <b>Scouts</b>
                        </div>
                        <div class="playerfield">
                            ({{selectedPlayerReport!.scouts.length}}): 
                            <span *ngFor="let scout of selectedPlayerReport!.scouts">
                                {{scout.name}},  
                            </span>
                        </div>

                        <div>
                            <b>Equipo</b>
                        </div>
                        <div class="playerfield">
                            {{selectedPlayerTeam.name}}
                        </div>

                        <div *ngIf="selectedPlayerReport.general">
                            <b>Evaluacion General</b>
                            <div class="playerfield">
                                {{selectedPlayerReport!.general!.skill[0].avg!}}
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-12 col-md-6 score-block" *ngIf="selectedPlayerReport.posicion">
                        <div>
                            <div class="col-12"><b>Posicion (Votos):</b></div>
                        </div>
                        <div class="row myrow" *ngFor="let pos of selectedPlayerReport.posicion!.skill">
                            <div class="col-10">{{pos.localized}}</div>
                            <div class="col-2 playerfield">{{pos.value}}</div>
                        </div>
                        <br>
                    </div>
                    <div class="col-12 col-md-6 score-block" *ngIf="selectedPlayerReport.estilo">
                        <div class="row">
                            <div class="col-10"><b>Estilo de Juego (Votos):</b></div>
                        </div>
                        <div class="row myrow" *ngFor="let style of selectedPlayerReport.estilo!.skill">
                            <div class="col-10">{{style.localized}}</div> 
                            <div class="col-2 playerfield">{{style.value}}</div>
                        </div>
                    </div>
                    
                    <div class="col-12 col-md-6 score-block" *ngIf="selectedPlayerReport.tiro">
                        <div class="row">
                            <div class="col-10"><b>Tiro (Promedio):</b></div>
                            <div class="col-2 playerfield">{{selectedPlayerReport.tiro.score.avg}}</div>
                        </div>
                        <div class="row myrow" *ngFor="let style of selectedPlayerReport.tiro!.skill">
                            <div class="col-10">{{style.localized}}</div> 
                            <div class="col-2 playerfield">{{style.avg}}</div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 score-block" *ngIf="selectedPlayerReport.defensa">
                        <div class="row">
                            <div class="col-10"><b>Defensa (Promedio):</b></div>
                            <div class="col-2 playerfield">{{selectedPlayerReport.defensa.score.avg}}</div>
                        </div>
                        <div class="row myrow" *ngFor="let style of selectedPlayerReport.defensa!.skill">
                            <div class="col-10">{{style.localized}}</div> 
                            <div class="col-2 playerfield">{{style.avg}}</div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 score-block" *ngIf="selectedPlayerReport.jugador">
                        <div class="row">
                            <div class="col-10"><b>Jugador (Promedio):</b></div>
                        </div>
                        <div class="row myrow" *ngFor="let style of selectedPlayerReport.jugador!.skill">
                            <div class="col-10">{{style.localized}}</div> 
                            <div class="col-2 playerfield">{{style.avg}}</div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 score-block" *ngIf="selectedPlayerReport.pase">
                        <div class="row">
                            <div class="col-10"><b>Pase (Promedio):</b></div>
                            <div class="col-2 playerfield">{{selectedPlayerReport.pase.score.avg}}</div>
                        </div>
                        <div class="row myrow" *ngFor="let style of selectedPlayerReport.pase!.skill">
                            <div class="col-10">{{style.localized}}</div> 
                            <div class="col-2 playerfield">{{style.avg}}</div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 score-block" *ngIf="selectedPlayerReport.bote">
                        <div class="row">
                            <div class="col-10"><b>Bote (Promedio):</b></div>
                            <div class="col-2 playerfield">{{selectedPlayerReport.bote.score.avg}}</div>
                        </div>
                        <div class="row myrow" *ngFor="let style of selectedPlayerReport.bote!.skill">
                            <div class="col-10">{{style.localized}}</div> 
                            <div class="col-2 playerfield">{{style.avg}}</div>
                        </div>
                    </div>

                    <div class="col-12 score-block" *ngIf="selectedPlayerReport.nominacion">
                        <div class="row">
                            <div class="col-12"><b>Nominaciones (Votos):</b></div>
                        </div>
                        <div class="row myrow" *ngFor="let style of selectedPlayerReport.nominacion!.skill">
                            <div class="col-10 col-md-11">{{style.localized}}</div> 
                            <div class="col-2 col-md-1 playerfield">{{style.value}}</div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-danger" 
                    (click)="closePopup()">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>


<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':errordisplayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>No se encontraron evaluaciones para este jugador!</p>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
                (click)="closeErrorPopup()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>