@import "colors";

.filterPadding{
    padding: 2%;
}

.marginBtn {
    margin-left: 3%;
    margin-right: 3%;
}

.padded-page{
    padding: 5%;
}

.container {
    padding-top: 3%;
    padding-bottom: 3%;
}

.searchbar {
    background-color: $mid-dark-color;
    padding-top: 3%;
    padding-bottom: 3%;
}