<div class="row justify-content-md-center padded-page">
    <h2 class="text-center mb-3">
        Groups Phase
    </h2>
    <div class="spinner-border text-light" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="row" *ngIf="!loading">
        <div class="col col-12">
            <div class="row text-center">
                <h2>Aprendiz</h2>
            </div>
            <div class="row">
                <div class="col col-12 col-md-6" *ngFor="let group of groups">
                    <h3 class="text-center">{{group}}</h3>
                    <div class="row marcadorItem" *ngFor="let match of groupMatches[group]; let idx=index" >
                        
                        <div class="col col-2">#{{idx+1}}</div>
                        <div class="col col-8" > 
                            <div class="row">{{match.homeTeam.name}}</div>
                            <div class="row">{{match.visitorTeam.name}}</div>
                        </div>
                        <div class="col col-2">
                            <div class="row">{{match.homePoints}}</div>
                            <div class="row">{{match.visitorPoints}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12">
            <div class="row text-center">
                <h2>Elite</h2>
            </div>
            <div class="row">
                <div class="col col-12 col-md-6" *ngFor="let group of groups">
                    <h3 class="text-center">{{group}}</h3>
                    <div class="row marcadorItem" *ngFor="let match of groupMatchesElite[group]; let idx=index" >
                        
                        <div class="col col-2">#{{idx+1}}</div>
                        <div class="col col-8" > 
                            <div class="row">{{match.homeTeam.name}}</div>
                            <div class="row">{{match.visitorTeam.name}}</div>
                        </div>
                        <div class="col col-2">
                            <div class="row">{{match.homePoints}}</div>
                            <div class="row">{{match.visitorPoints}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row foto-slider">
            <div class="col col-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/grupos_aprendiz.jpeg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/grupos_elite.jpeg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    