<div class="row justify-content-md-center">
    <h2 class="text-center mb-3">
        Groups Phase
    </h2>
    <div class="spinner-border text-light" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="row" *ngIf="!loading">
        <div class="col col-12 col-md-6" *ngFor="let group of groups">
            <h3>{{group}}</h3>
            <div class="row marcadorItem" *ngFor="let match of groupMatches[group]; let idx=index" >

                <div class="col col-2">#{{idx}}</div>
                <div class="col col-8" > 
                    <div class="row">{{match.homeTeam.name}}</div>
                    <div class="row">{{match.visitorTeam.name}}</div>
                </div>
                <div class="col col-2">
                    <div class="row">{{match.homePoints}}</div>
                    <div class="row">{{match.visitorPoints}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
    