.filterPadding{
    padding: 2%;
}

.marcadorItem{
    margin: 2%;
    padding: 2%;
}

.marginBtn {
    margin-left: 3%;
    margin-right: 3%;
}

.card {
    background-color: #FB7638;
}

.padded-page{
    padding: 5%;
}

.padded-col{
    padding: 2%;
}