<div class="row justify-content-md-center padded-page">
    <h2 class="text-center mb-3">
        Standings
    </h2>
    <div class="spinner-border text-light" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="row" *ngIf="!loading">
        <div class="col col-12 col-md-6 padded-col">
            <div class="row text-center">
                <h2>Aprendiz</h2>
            </div>
            <div class="row">
                    <div class="row marcadorItem" *ngFor="let match of standingMatches; let idx=index" >
                        
                        <div class="col col-2"></div> <!--#{{idx+1}}</div-->
                        <div class="col col-8" > 
                            <div class="row">{{match.homeTeam.name}}</div>
                            <div class="row">{{match.visitorTeam.name}}</div>
                        </div>
                        <div class="col col-2">
                            <div class="row">{{match.homePoints}}</div>
                            <div class="row">{{match.visitorPoints}}</div>
                        </div>
                        <div class="col col-12 text-center">
                            {{match.location}} - {{match.time}}
                        </div>
                    </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 padded-col">
            <div class="row text-center">
                <h2>Elite</h2>
            </div>
            <div class="row">
                    <div class="row marcadorItem" *ngFor="let match of standingMatchesElite; let idx=index" >
                        
                        <div class="col col-2"></div>
                        <div class="col col-8" > 
                            <div class="row">{{match.homeTeam.name}}</div>
                            <div class="row">{{match.visitorTeam.name}}</div>
                        </div>
                        <div class="col col-2">
                            <div class="row">{{match.homePoints}}</div>
                            <div class="row">{{match.visitorPoints}}</div>
                        </div>
                        <div class="col col-12 text-center">
                            {{match.location}} - {{match.time}}
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
    