@import "colors";

.filterPadding{
    padding: 2%;
}

.marginBtn {
    margin-left: 3%;
    margin-right: 3%;
}

.padded-page{
    padding: 5%;
}

.container {
    padding-top: 3%;
    padding-bottom: 3%;
}

//
// TOURNAMENT BRACKET
// ---------------------------
.tournament-bracket {
  display: flex;
  flex-direction: row;
  
  //@media (min-width: 38em) {
  //  flex-direction: row;
  //}

  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.tournament-bracket__round {
  display: block;
  margin-left: -3px;
  flex: 1;
  width: 250px;
  overflow-x: visible;
  overflow-y: visible;
  white-space: normal;
}

.tournament-bracket__round-title {
  color: $mid-dark-color;
  font-size: 0.95rem;
  font-weight: 400;
  text-align: center;
  font-style: italic;
  margin-bottom: 0.5em;
}

.tournament-bracket__list {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: center;
  height: 100%;
  min-height: 100%;
  //border-bottom: 1px dashed #e5e5e5;
  //padding-bottom: 2em;
  //margin-bottom: 2em;
  transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;
  
  //@media (max-width: 24em) {
  //  padding-bottom: 1em;
  //  margin-bottom: 1em;
  //}
  
  //@media (min-width: 38em) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-right: 0;
    padding-left: 1px;
    border-bottom: 0;
  //}
  
  .tournament-bracket__round:last-child & {
    border: 0;
  }
}

.tournament-bracket__item {
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 2% 0;
  width: 48%;
  transition: padding 0.2s linear;
  
  &:nth-child(odd) {
    margin-right: 2%;
  }
  
  &:nth-child(even) {
    margin-left: 2%;
  }
  
  &::after {
    transition: width 0.2s linear;
  }
  
  //@media (max-width: 24em) {
  //  width: 100%;
  //  
  //  &:nth-child(odd),
  //  &:nth-child(even) {
  //    margin-left: 0;
  //    margin-right: 0;
  //  }
  //}
  
  //@media (min-width: 38em) {
    padding: 0.5em 1em;
    // flex-grow: 2;
    width: 100%;
    
    &:nth-child(odd),
    &:nth-child(even) {
      margin: 0;
    }
    
    &::after {
      position: absolute;
      right: 0;
      content: '';
      display: block;
      width: 1em;
      height: 45%;
      border-right: 2px solid $light-color;
    }

    &:nth-child(odd)::after {
      top: 50%;
      border-top: 2px solid $light-color;
      transform: translateY(-1px);
      
      .tournament-bracket--rounded & {
        border-top-right-radius: 0.6em;
      }
    }
    
    &:nth-child(even)::after {
      bottom: 50%;
      border-bottom: 2px solid $light-color;
      transform: translateY(1px);
      
      .tournament-bracket--rounded & {
        border-bottom-right-radius: 0.6em;
      }
    }
    .tournament-bracket__round:first-child & {
       padding-left: 0;
    }
    .tournament-bracket__round:last-child & {
       padding-right: 0;

       &::after {
         display: none;
       }
    }

    .tournament-bracket__round:nth-last-child(2) & {
      &::after {
        border-radius: 0;
        border-right: 0;
      }
    }  
  //}
  
  //@media (min-width: 72em) {
    padding: 0.5em 1.5em;
    
    &::after {
      width: 1.5em;
    }
  //}
}


.tournament-bracket__match {
  display: flex;
  width: 100%;
  background-color: $dark-color;
  padding: 1em;
  border: 1px solid $dark-color;
  border-radius: 0.5em;
  outline: none; 
  cursor: pointer;
  transition: padding 0.2s ease-in-out, border 0.2s linear;
  
  &:focus {
    border-color: $mid-dark-color;
  }
  
  &::before,
  &::after {
    transition: all 0.2s linear;
  }
  
  //@media (max-width: 24em) {
  //  padding: 0.75em 0.5em;
  //}
  
  //@media (min-width: 38em) {
    &::before,
    &::after {
      position: absolute;
      left: 0;
      z-index: 1;
      content: '';
      display: block;
      width: 1em;
      height: 10%;
      border-left: 2px solid $light-color;
    }

    &::before  {
      bottom: 50%;
      border-bottom: 2px solid $light-color;
      transform: translate(0, 1px);
      
      .tournament-bracket--rounded & {
        border-bottom-left-radius: 0.6em;
      }
    }

    &::after  {
      top: 50%;
      border-top: 2px solid $light-color;
      transform: translate(0, -1px);
      
      .tournament-bracket--rounded & {
        border-top-left-radius: 0.6em;
      }
    }
  //}
  
  //@media (min-width: 72em) {
    &::before,
    &::after {
      width: 1.5em;
    }
    
    &::before {
      transform: translate(0, 1px);
    }
    
    &::after {
      transform: translate(0, -1px);
    }
  //}
}

.tournament-bracket__round:last-child .tournament-bracket__match {
  &::before,
  &::after {
    border-left: 0;
  }
  
  &::before  {
    border-bottom-left-radius: 0;
  }
  
  &::after  {
    display: none;
  }
}

.tournament-bracket__round:first-child .tournament-bracket__match {
  &::before,
  &::after {
    display: none;
  }
}

.tournament-bracket__content {
  display: flex;
  
  &::after {
    content: ':';
    width: 1em;
    text-align: center;
    padding: 0.2em 0.1em;
    
    //@media (min-width: 38em) {
       order: 1;
    //}
  }
  
  & .tournament-bracket__team:first-child {
    width: 50%;
    order: 0;
    text-align: right;
    
    //@media (min-width: 38em) and (max-width: 52em) {
    //  align-items: flex-end;
    //}
    
    & .tournament-bracket__country {
      order: 2;
      justify-content: flex-end;
      
      //@media (min-width: 24em) {
        order: 0;
      //} 
      
      //@media (min-width: 38em) and (max-width: 52em) {
      //  flex-direction: column-reverse;
      //  align-items: flex-end;
      //}
    }
    
    & .tournament-bracket__score {
      order: 0;
      
      //@media (min-width: 24em) {
         order: 2;
      //}
    }
  }
  
  & .tournament-bracket__team:last-child {
    width: 50%;
    order: 2;
    text-align: left;
    
    //@media (min-width: 38em) and (max-width: 52em) {
    //  align-items: flex-start;
    //}
    
    & .tournament-bracket__country {
      //@media (min-width: 38em) {
        justify-content: flex-start;
      //}
      
      //@media (min-width: 38em) and (max-width: 52em) {
      //  align-items: flex-start;
      //}
    }
    
    .tournament-bracket__code {
      order: 1;
    }
  }
}


.tournament-bracket__table {
  width: 100%;
}

.tournament-bracket__caption {
  font-size: 0.8rem;
  color: $light-color;
  font-weight: 300;
  padding-bottom: 0.75em;
  text-align: center;
}

.tournament-bracket__team {
  display: flex;
  //flex-direction: row-reverse;
  justify-content: space-between;
  
  //@media (min-width: 24em) {
    flex-direction: column-reverse;
  //}
  //
  //@media (min-width: 38em) {
  //  flex-direction: column-reverse;
  //}
}

.tournament-bracket__country {
  font-size: 0.95rem;
  display: flex;
  margin-top: 0.5em;
  align-items: center;
  
  //@media (max-width: 24em) {
  //  margin-top: 0;
  //}
  
  //@media (min-width: 38em) and (max-width: 52em) {
  //  display: flex;
  //  flex-direction: column;
  //  
  //  .tournament-bracket__code {
  //    margin-top: 0.2em;
  //  }
  //}
}

.tournament-bracket__code {
  padding: 0 0.5em;
  color: $light-color;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  text-decoration: none;
  cursor: help;
  transition: padding 0.2s ease-in-out;
  
  //@media (max-width: 24em) {
  //  padding: 0 0.25em;
  //}
  //
  //@media (min-width: 38em) and (max-width: 52em) {
  //  padding: 0;
  //}
}

.tournament-bracket__score {
  display: flex;
  align-items: center;
  
  .tournament-bracket__team:first-child & {
    flex-direction: row-reverse;
    padding-left: 0.75em;
  }
  
  .tournament-bracket__team:last-child & {
    padding-right: 0.75em;
  }
}

.tournament-bracket__number {
  display: inline-block;
  padding: 0.2em 0.4em 0.2em;
  border-bottom: 0.075em solid transparent;
  font-size: 0.95rem;
  background-color: $light-color;
  border-color: spin(shade(#F5F5F5, 10%), -10);
  
  .tournament-bracket__team--winner & {
    background-color: $mid-dark-color;
    border-color: spin(shade($light-color, 2%), -10);
  }
}
