
<h2 class="text-center mb-3">
    Jugadores Registrados
</h2>

<div class="spinner-border text-light" role="status" *ngIf="loading">
    <span class="sr-only">Loading...</span>
</div>
<div class="mainpanel" *ngIf="!loading">
    <div class="scroll-container">
        <div style="min-width: 600px;">
            <table class="row">
                <tr class="row">
                    <th class="col col-5"> <a [routerLink]="" (click)="sortPlayersByName()">Jugador</a></th>
                    <th class="col col-4"> <a [routerLink]="" (click)="sortPlayersByEquipo()">Equipo</a></th>
                    <th class="col col-3"> <a [routerLink]="" (click)="sortPlayersByCategory()">Categoria</a></th>
                </tr>
                <tr class="row" *ngFor="let player of players" [routerLink]="" (click)="showPlayer(player)" >
                    <td class="col col-5">{{player.name}}</td>
                    <td class="col col-4">{{uTeams.get(player.team)}}</td>
                    <td class="col col-3">{{player.category}}</td>
                </tr>
            </table>
        </div>
    </div>

    <!--show player modal-->
    <div class="modal"
      tabindex="-1"
      role="dialog"
      [ngStyle]="{'display':displayPlayer}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header dark-header">
            <h5 class="modal-title">Jugador</h5>
            <button type="button" class="btn-close" (click)="closePlayerPopup()" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <div class="row" *ngIf="player" style="padding: 2px;">
                <div class="col col-12 col-lg-5" style="position: relative;z-index: 1; height:200px">
                  <img id="image" style="max-height: 200px; max-width:90%;position: absolute; top:0; left:0; ;z-index: 1;" [src]="imageUrl">
                </div>
                <div class="col col-12 col-lg-7">
                  <label class="frow" for="nombre">Nombre:&nbsp;</label>
                  <input class="frow" type="text" class="form-control" value="{{player!.name}}">
                  <label class="frow" for="bday">Fecha de Nacimiento:&nbsp;</label>
                  <input class="frow" type="date" value="{{player!.birthday | date:'yyyy-MM-dd'}}">
            
                  <label class="frow" for="position">Posición:&nbsp;</label>
                  <input class="frow" type="text" value="{{player!.position}}">
            
                  <label class="frow" for="altura">Altura (cm):&nbsp;</label>
                  <input class="frow" type="number" min="1" max="300" value="{{player!.height}}">
                  <label class="frow" for="peso">Peso (kg):&nbsp;</label>
                  <input class="frow" type="number" min="1" max="300" value="{{player!.weight}}">
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>  
