
<h2 class="text-center mb-3">
    Jugadores Registrados
</h2>

<div class="spinner-border text-light" role="status" *ngIf="loading">
    <span class="sr-only">Loading...</span>
</div>
<div class="mainpanel" *ngIf="!loading">

    <!--Filters-->
    <div class="accordion accordion-flush mb-3" id="filtersAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filtersCollapse" aria-expanded="false" aria-controls="filtersCollapse">
            Filtros
          </button>
        </h2>
        <div id="filtersCollapse" class="accordion-collapse collapse" data-bs-parent="#filtersAccordion">
          <div class="accordion-body">
            <div class="row">
              <div class="col col-12 col-md-6 col-lg-4 mb-2">
                <label class="frow" for="filterName">Nombre:&nbsp;</label>
                <input id="filterName" type="text" class="form-control" autocomplete="off"
                       [value]="filterName" (input)="filterName = $any($event.target).value">
              </div>
              <div class="col col-12 col-md-6 col-lg-4 mb-2">
                <label class="frow" for="filterCurp">CURP:&nbsp;</label>
                <input id="filterCurp" type="text" class="form-control" autocomplete="off"
                       [value]="filterCurp" (input)="filterCurp = $any($event.target).value">
              </div>
              <div class="col col-12 col-md-6 col-lg-4 mb-2">
                <label class="frow" for="filterTeam">Equipo:&nbsp;</label>
                <select id="filterTeam" class="form-control"
                        [value]="filterTeam" (change)="filterTeam = $any($event.target).value">
                  <option value="">Todos</option>
                  <option *ngFor="let team of teams" value="{{team.id}}">{{team.name}}</option>
                </select>
              </div>
              <div class="col col-12 mb-2">
                <label class="frow">Posiciones:&nbsp;</label>
                <label *ngFor="let pos of positions" style="margin-right: 12px;">
                  <input type="checkbox" [checked]="filterPositions[pos]" (change)="toggleFilterPosition(pos)">&nbsp;{{pos}}
                </label>
              </div>
              <div class="col col-12 col-md-6 col-lg-4 mb-2">
                <label class="frow">Altura (cm):&nbsp;</label>
                <div class="frow">
                  <input type="number" class="form-control" placeholder="Min" style="max-width: 90px;"
                         [value]="filterHeightMin" (input)="filterHeightMin = $any($event.target).value">
                  &nbsp;-&nbsp;
                  <input type="number" class="form-control" placeholder="Max" style="max-width: 90px;"
                         [value]="filterHeightMax" (input)="filterHeightMax = $any($event.target).value">
                </div>
              </div>
              <div class="col col-12 col-md-6 col-lg-4 mb-2">
                <label class="frow">Peso (kg):&nbsp;</label>
                <div class="frow">
                  <input type="number" class="form-control" placeholder="Min" style="max-width: 90px;"
                         [value]="filterWeightMin" (input)="filterWeightMin = $any($event.target).value">
                  &nbsp;-&nbsp;
                  <input type="number" class="form-control" placeholder="Max" style="max-width: 90px;"
                         [value]="filterWeightMax" (input)="filterWeightMax = $any($event.target).value">
                </div>
              </div>
              <div class="col col-12 col-md-6 col-lg-4 mb-2">
                <label class="frow">Año de Nacimiento:&nbsp;</label>
                <div class="frow">
                  <input type="number" class="form-control" placeholder="Min" style="max-width: 90px;"
                         [value]="filterYearMin" (input)="filterYearMin = $any($event.target).value">
                  &nbsp;-&nbsp;
                  <input type="number" class="form-control" placeholder="Max" style="max-width: 90px;"
                         [value]="filterYearMax" (input)="filterYearMax = $any($event.target).value">
                </div>
              </div>
              <div class="col col-12">
                <button type="button" class="btn btn-outline-dark btn-sm" (click)="clearFilters()">Limpiar Filtros</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="scroll-container">
        <div style="min-width: 600px;">
            <table class="row">
                <tr class="row">
                    <th class="col col-1">#</th>
                    <th class="col col-3"> <a [routerLink]="" (click)="sortBy('name')">Jugador{{sortIndicator('name')}}</a></th>
                    <th class="col col-2"> <a [routerLink]="" (click)="sortBy('team')">Equipo{{sortIndicator('team')}}</a></th>
                    <th class="col col-2"> <a [routerLink]="" (click)="sortBy('category')">Categoria{{sortIndicator('category')}}</a></th>
                    <th class="col col-2"> <a [routerLink]="" (click)="sortBy('height')">Altura{{sortIndicator('height')}}</a></th>
                    <th class="col col-2"> <a [routerLink]="" (click)="sortBy('weight')">Peso{{sortIndicator('weight')}}</a></th>
                </tr>
                <tr class="row" *ngFor="let player of filteredPlayers" [routerLink]="" (click)="showPlayer(player)" >
                    <td class="col col-1">{{player.number}}</td>
                    <td class="col col-3">{{player.name}}</td>
                    <td class="col col-2">{{uTeams.get(player.team)}}</td>
                    <td class="col col-2">{{player.category}}</td>
                    <td class="col col-2">{{player.height}}</td>
                    <td class="col col-2">{{player.weight}}</td>
                </tr>
            </table>
        </div>
    </div>

    <!--show player modal-->
    <div class="modal"
      tabindex="-1"
      role="dialog"
      [ngStyle]="{'display':displayPlayer}">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header dark-header">
            <h5 class="modal-title">Jugador</h5>
            <button type="button" class="btn-close" (click)="closePlayerPopup()" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <app-add-player *ngIf="player"
              [teamplayers]="players"
              [equipoId]="player!.team"
              [categoria]="player!.category"
              [playerId]="player!.id"
              [ddb]="ddb"
              [s3]="s3"></app-add-player>
          </div>
          <div class="modal-footer">
            <button *ngIf="isAdmin" type="button" class="btn btn-danger"
                    (click)="confirmEditPlayer()">
              Confirmar
            </button>
          </div>
        </div>
      </div>
    </div>
</div>
