<div class="bg-image lower-corner-img" style="background-image: url('assets/no-background-logo-transparent.png');">
    <div class="container page-content">
        <div class="d-flex justify-content-center align-items-center" >
            <div style="width: 100%" class="text-justify outer">
            <ng-container *ngIf="!isLoggedIn">    
                <div class="container page-content">
                    <ng-container>
                        <h1>Login</h1>
                        <form [formGroup]="form">
                            <fieldset>
                                <div class="form-field">
                                    <label>Email:</label><br>
                                    <input name="email" formControlName="email">
                                </div>
                                <div class="form-field">
                                    <label>Password:</label><br>
                                    <input name="password" formControlName="password" 
                                        type="password">
                                </div>
                            </fieldset><br>
                            <div class="form-buttons">
                                <button class="btn btn-danger" 
                                        (click)="login()">Login</button>
                            </div><br><br>
                            <b>Problemas iniciando sesion?</b>
                            <ul>
                                <li><a [routerLink]="" (click)="enterRecoverPassword()"><u>Cambiar contraseña</u></a></li>
                                <li><a [routerLink]="" (click)="openCodigoPopup()"><u>Verificar email</u></a></li>
                            </ul>
                        </form>
                        <br>
                        <span *ngIf="failed"> Failed to Login </span>
                    </ng-container>
                </div>
            </ng-container>
            <ng-container *ngIf="isLoggedIn">
                
                <div style="display: flex; flex-direction: column; align-items:flex-end;">
                    <form [formGroup]="form">
                        <label>Usuario: <i>{{email}}</i> |&nbsp;</label>
                        <button class="button button-cancel" 
                        (click)="logout()">Logout</button>
                    </form>
                </div>
            </ng-container>
            </div>
        </div>
    </div>
</div>
    

<div class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayCodigo}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Verificar Email</h5>
        <button type="button" class="btn-close" (click)="closeCodigoPopup()" aria-label="Close">
        </button>
    </div>
      <div class="modal-body">
        <form [formGroup]="codigoForm" class ="fcol">
            <div [hidden]="email===''">
                <p>Email no verificado. Verifica tu correo introduciendo tu código de verificación.  No olvides buscar en la carpeta de correo no deseado.</p> 
                <span style="background-color: red">{{codigoErrorMsg}}</span>
                <input name="codigo" formControlName="codigo" type="text" required>
            </div>
            <div [hidden]="email!=''">
                <label>Email:</label>
                <input name="email" formControlName="email" type="text">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <div [hidden]="email===''">
            <button type="button" class="btn" 
                (click)="resendCode()">
                Reenviar codigo
            </button>
            <button type="button" class="btn btn-danger" 
                (click)="confirm()">
                Confirmar
            </button>
        </div>
        <div [hidden]="email!=''">
            <button type="button" class="btn btn-danger" 
                (click)="confirmEmail()">
                Confirmar
            </button>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayChangePassword}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Cambiar Contraseña</h5>
            <button type="button" class="btn-close" (click)="closeChangePassword()" aria-label="Close">
            </button>
        </div>
        <div class="modal-body">
        <form [formGroup]="passform">
            <fieldset>
                <div class="form-field">
                    <label>Email:</label>
                    <input name="email" formControlName="email">
                </div>
                <div class="form-field" [hidden]="codeSent!=true">
                    <label>Contraseña:</label>
                    <input name="password" formControlName="password" 
                        type="password">
                </div>
                <div class="form-field" [hidden]="codeSent!=true">
                    <label>Codigo:</label>
                    <input name="codigo" formControlName="codigo">
                </div>
            </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button [hidden]="codeSent" class="btn btn-dark" 
                    (click)="getCode()">Enviar Codigo</button>
        <button [hidden]="!codeSent" class="btn btn-danger" 
                    (click)="changePassword()">Cambiar Password</button>
      </div>
    </div>
  </div>
</div>


<div
    class="modal"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p>{{popUpnMsg}}</p>
    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" 
                  (click)="closePopup()">
            Cerrar
          </button>
        </div>
      </div>
    </div>
</div>
