@import 'colors.scss';

.filterPadding{
    padding: 2%;
}

.marginBtn {
    margin-left: 3%;
    margin-right: 3%;
}


/* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }