<div class="container page-content">
    <div class="d-flex justify-content-center align-items-center" >
        <div class="text-justify">

        <h5 class="text-center mb-3">
            Datos Relevantes
        </h5><br>
        <ul>
            <li>El torneo se realiza, orgullosamente, en la ciudad de Hidalgo del Parral, Chihuahua.</li>
            <li>Gladiadores Hoops, tanto el torneo como toda la organización es 100% sin fines de lucro, todo lo recaudado antes, durante y después del torneo y/o competencias alternas, se destina a re inversión de la misma organización.</li>
            <li>El torneo se ha realizado 11 años consecutivos, interrumpidos únicamente por el inicio de la pandemia en 2020.</li>
        </ul><br><br>


        <h5 class="text-center mb-3">
            Concursos
        </h5><br>
        <p>
            Dentro del torneo se realizan concursos, los cuales son:
        </p>
        <ul>
            <li>Concurso de Triples</li>
            <li>Concurso de Habilidades</li>
            <li>Concurso de Clavadas</li>
        </ul>
        <p>
            Los jugadores son invitados a participar en los tryouts de cada concurso y antes de la premiación se realiza la final de los mismos. Constituye una parte clave del torneo que suele generar mucha expectativa, diversión y atención de parte del público de gladiadores.            
        </p><br><br>

        </div>
    </div>
</div>
