$dark-color: #fc3232;
$light-color: #f9dd88;
$mid-light-color: #ffffff;
$mid-dark-color: #ff8123;
$black-color: #000000;

/*
$dark-color: #0000dd;
$light-color: #0015ff;
$mid-color: #9999ff;
$black-color: #000;
*/