
$bg-color1: #484747;
$bg-color2: #ececec;
$header-color1: #fed738;
$header-color2: #fed738;
$text-color1: #9bb6a3;
$text-color2: #d6726c;

/*
$dark-color: #0000dd;
$light-color: #0015ff;
$mid-color: #9999ff;
$black-color: #000;
*/