$dark-color: #BA1E34;
$light-color: #F1E2AA;
$mid-light-color: #E7C7B0;
$mid-dark-color: #D47364;
$black-color: #000000;

/*
$dark-color: #0000dd;
$light-color: #0015ff;
$mid-color: #9999ff;
$black-color: #000;
*/