/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
//@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,600&display=swap';
@import 'bootstrap/scss/bootstrap';
@import 'colors.scss';


@font-face {
    font-family: "Graduate";
    src: local("Graduate"), url(./assets/fonts/Graduate/Graduate-Regular.ttf) format("truetype");
}

html {
    background-color: #666;
    color: $light-color;
    /*background-image: url("assets/logo.png");
    background-size: 10% ;
    background-size: cover;*/
}

body {
    font-family: "Graduate", Arial, Helvetica, sans-serif;
}

.page-content {
    padding: 5% 7% 7% 7%;
}

.text-justify {
    text-align: justify;
}

.navbar .navbar-nav .nav-item .nav-link {
padding: 0.5em;
}
.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
border-right: 2px solid #FFF;
height: 100%;
}
.lower-corner-img {
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 20%;
    margin: 3%;
}

.row {
    --bs-gutter-x: 0.5%;
}

.foto-slider {
    padding: 1%;
}

.card-body {
    padding: 1% 1%;
}

.bg-dark {
    background-color: $dark-color !important;
    
}

.accordion-button{
    background-color: $dark-color;
    color: $light-color;
}


.accordion-button:not(.collapsed){
    background-color: $dark-color;
    color: $light-color;
}

.accordion{
    width: 100%;
    background-color: $mid-dark-color;
}

.accordion-body{
    background-color: $mid-dark-color;
    color: $light-color;
}



.marcadorItem{
    margin: 3%;
    padding: 3%;
    background-color: $dark-color;
    color: $light-color;
}

