/* You can add global styles to this file, and also import other style files */

html {
    background-color: #666;
    color: #FFFFFF;
    /*background-image: url("assets/logo.png");
    background-size: 10% ;
    background-size: cover;*/
}

.page-content {
    padding: 5% 7% 7% 7%;
}

.text-justify {
    text-align: justify;
}

.navbar .navbar-nav .nav-item .nav-link {
padding: 0 0.5em;
}
.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
border-right: 2px solid #FFF;
}

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';

