<div class="container">
    <div class="d-flex justify-content-center align-items-center" >
        <div class="text-justify" style="padding: 10%;">
        
        <h5 class="text-center mb-3">
            ¿Quiénes Somos?
        </h5><br><br>
        <p>
        Gladiadores hoops es una organización 100% sin fines de lucro que nace con la intención de crear oportunidades para jugadores de basketball, constituyendo un torneo anual y otros eventos y competencias durante el año, así como el scouting constante y la coordinación con coaches y familias para el desarrollo óptimo de los deportistas que aquí participan.
        </p>
        <p>
        Gladiadores hoops es un torneo con un sistema de premiación único en su especie a nivel nacional, ya que cuenta con más de 40 premios y reconocimientos individuales que año con año cientos de jugadores buscan obtener. Dichos trofeos son fabricados artesanalmente y cada uno tiene un nombre, significado y diseño.
        </p><br><br>

        <h5 class="text-center mb-3">
            Misión
        </h5><br><br>
        <p>
            Ser una plataforma en la que los jugadores de basquetbol de todas partes de México puedan demostrar su talento deportivo.            
        </p>
        <p>
            Crear una experiencia que muestre a los jugadores lo que pueden alcanzar (becas en el extranjero. becas universitarias, basquetbol profesional, etc.)
        </p><br><br>
        
        <h5 class="text-center mb-3">
            Visión
        </h5><br><br>
        <p>
            Convertirse en el torneo más conocido de México, con asistencia anual de equipos y clubes extranjeros, siendo un referente de éxito y celebración del deporte y las oportunidades que puede crear para ti.
        </p><br><br>

        <h5 class="text-center mb-3">
            Datos Relevantes
        </h5><br><br>
        <ul>
            <li>El torneo se realiza, orgullosamente, en la ciudad de Hidalgo del Parral, Chihuahua.</li>
            <li>Gladiadores Hoops, tanto el torneo como toda la organización es 100% sin fines de lucro, todo lo recaudado antes, durante y después del torneo y/o competencias alternas, se destina a re inversión de la misma organización.</li>
            <li>El torneo se ha realizado 11 años consecutivos, interrumpidos únicamente por el inicio de la pandemia en 2020.</li>
        </ul>

        </div>
    </div>
</div>
