<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 70vh">
        <div class="text-justify">
        <h5 class="text-center mb-3">
            Acerca de Nosotros
        </h5><br><br>
        <p>
            La organización Gladiadores Hoops fue fundada en el año 2012 con su evento de inaugural, el 1er Torneo Gladiators realizado en Hgo. Del Parral, Chihuahua, MX para luego dar continuidad con eventos y proyectos de desarrollo para los basquetbolistas.
        </p><br><br>
        <p>
            Esta organización es completamente autosuficiencia y no lucra de ninguna forma. Las cuotas que se piden de apoyo cubren todo lo reinvertido en los jugadores y jugadoras (torneos, campamentos, clínicas, conferencias camisetas, termos, medallas, trofeos, jerseys, premios especiales, etc) como objetivo de motivar e incentivar a los estudiantes/atletas a este bello estilo de vida.
        </p><br><br>
        <h5 class="text-center mb-3">
            ‘’Lo único más fuerte que el poder de la mente y la fuerza humana, es el coraje del corazón’’
        </h5><br><br>
        
        </div>
    </div>
</div>
